@import '../../../styles/theme.scss';

.add-button {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}

.add-button>button {
  min-width: 15rem;
  height: 2.5rem;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  max-width: 100%;
}

.search {
  width: 20rem;
}

.active.mat-mdc-standard-chip {
  background-color: $greenlight !important;
}

.inactive.mat-mdc-standard-chip {
  background-color: $redLight !important;
}

.mat-table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

/* .mat-table-responsive {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
} */

.mat-table-responsive table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.mat-header-cell,
.mat-cell {
  padding: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-header-cell {
  font-weight: bold;
  background-color: #f5f5f5;
}

.mat-header-row,
.mat-row {
  display: table-row;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .add-button>button {
    width: 100%;
    margin: 1rem 0;
  }

  .filter-container {
    display: flex;
    flex-direction: column;
  }

  .mat-header-cell,
  .mat-cell {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}

/* mat-header-cell,
mat-cell {
  display: flex;
  justify-content: flex-start;
  flex: 1 1 100%;
  padding: 0.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

mat-header-cell {
  font-weight: bold;
}

mat-header-row,
mat-row {
  display: flex;
  flex-wrap: nowrap;
}

 .mat-table-responsive mat-header-row,
.mat-table-responsive mat-row {
  display: flex;
  flex-wrap: nowrap;
}

.mat-table-responsive mat-header-cell,
.mat-table-responsive mat-cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  flex: 1 1 100%;
  padding: 0.3rem 1rem;
  width: 20rem;
  min-width: 20rem;
  max-width: 100%;
}

.mat-table-responsive::-webkit-scrollbar {
  height: 0.5rem;
  background-color: $backgroundColor;
}

.mat-table-responsive::-webkit-scrollbar-thumb {
  background-color: $greyVeryLight;
  border-radius: 1rem;
}

.mat-table-responsive::-webkit-scrollbar-thumb:hover {
  background-color: $greyVeryLight;
}

.mat-table-responsive::-webkit-scrollbar-thumb:active {
  background-color: $greyLight;
}

@media screen and (max-width: 768px) {

  mat-form-field {
    max-width: 100%;
  }

  .add-button>button {
    width: 100%;
    margin: 1rem 0;
  }

  .filter-container {
    display: flex;
    flex-direction: column;
  }

  mat-header-cell,
  mat-cell {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }

  .mat-table-responsive mat-header-cell,
  .mat-table-responsive mat-cell {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    flex: 1 1 auto;
    min-width: 100%;
  }

  .mat-table-responsive {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }
}*/
