@if ((status_member && status_member.length > 0) || rendering) {
  <app-crud
    [enablePagination]="false"
    [fields]="status_member"
    [dataSourceMat]="dataSourceMat"
    [columnDefinitions]="columnDefinitions"
    [addFn]="handleCreate"
    [editFn]="handleEdit"
    [deleteFn]="handleDelete"
    [actions]="actions"
  ></app-crud>
} @else {
  <app-not-found-register
    [template]="'status do membro'"
    [ctaLabel]="'Adicionar'"
    [addRegisterFn]="handleCreate"
  ></app-not-found-register>
}
