<form [formGroup]="statusMemberForm" (ngSubmit)="handleSubmit()" class="form-field-group wrapper">
  <app-column>
    <mat-form-field appearance="fill">
      <mat-label>Membro</mat-label>
      <mat-select formControlName="member_id">
        <mat-select-trigger>
          {{ displayNameMember() }}
        </mat-select-trigger>
        <ng-container *ngIf="filterMembers | async as members">
          <mat-form-field appearance="outline" class="search-field">
            <div class="flex flex-row gap-2">
              <mat-icon>search</mat-icon>
              <input matInput placeholder="Digite para buscar" [formControl]="searchControlMembers" />
            </div>
          </mat-form-field>
          <mat-option *ngFor="let member of members" [value]="member.id">
            {{ member.person.name }}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error *ngIf="statusMemberForm.get('member_id')?.invalid && statusMemberForm.get('member_id')?.touched">
        {{ getErrorMessage('member_id') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Situação do membro</mat-label>
      <mat-select formControlName="member_situation_id">
        <mat-select-trigger>
          {{ displayNameSituationMember() }}
        </mat-select-trigger>
        <ng-container *ngIf="filterStatusMember | async">
          <mat-form-field appearance="outline" class="search-field">
            <div class="flex flex-row gap-2">
              <mat-icon>search</mat-icon>
              <input matInput placeholder="Digite para buscar" [formControl]="searchControlStatusMember" />
            </div>
          </mat-form-field>
          <mat-option *ngFor="let memberSituation of membersSituations" [value]="memberSituation.id">
            {{ memberSituation.name }}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error
        *ngIf="statusMemberForm.get('member_situation_id')?.invalid && statusMemberForm.get('member_situation_id')?.touched">
        {{ getErrorMessage('member_situation_id') }}
      </mat-error>
    </mat-form-field>
  </app-column>


  <app-column>
    <mat-form-field appearance="fill">
      <mat-label>Data Inicial</mat-label>
      <input matInput [matDatepicker]="initial_period" formControlName="initial_period" readonly />
      <mat-datepicker-toggle matSuffix [for]="initial_period"></mat-datepicker-toggle>
      <mat-datepicker #initial_period></mat-datepicker>
      <mat-error
        *ngIf="statusMemberForm.get('initial_period')?.invalid && statusMemberForm.get('initial_period')?.touched">
        {{ getErrorMessage('initial_period') }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Data Final</mat-label>
      <input matInput [matDatepicker]="final_period" formControlName="final_period" readonly />
      <mat-datepicker-toggle matSuffix [for]="final_period"></mat-datepicker-toggle>
      <mat-datepicker #final_period></mat-datepicker>
      <mat-error *ngIf="statusMemberForm.get('final_period')?.invalid && statusMemberForm.get('final_period')?.touched">
        {{ getErrorMessage('final_period') }}
      </mat-error>
    </mat-form-field>
  </app-column>

  <mat-divider></mat-divider>
  <div class="cta">
    <button type="button" mat-stroked-button color="warn" (click)="onCancel()">Cancelar</button>
    <button type="submit" mat-raised-button color="primary"
      [disabled]="statusMemberForm.invalid">{{isEditMode ? 'Atualizar' : 'Cadastrar'}}</button>
  </div>
</form>
