<form [formGroup]="memberOriginForm" (ngSubmit)="handleSubmit()" class="form-field-group">
  <app-column>
    <mat-slide-toggle formControlName="status" color="primary">
      {{ memberOriginForm.get('status')?.value ? 'Ativado' : 'Desativado' }}
    </mat-slide-toggle>
  </app-column>

  <app-column>
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" />
      @if (memberOriginForm.get('name')?.invalid) {
        <mat-error>{{ getErrorMessage('name') }}</mat-error>
      }
    </mat-form-field>
  </app-column>

  <app-column>
    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="description" rows="5"></textarea>
      @if (memberOriginForm.get('description')?.invalid) {
        <mat-error>{{ getErrorMessage('description') }}</mat-error>
      }
    </mat-form-field>
  </app-column>

  <app-actions>
    <button mat-stroked-button color="warn" type="button" (click)="handleBack()">Cancelar</button>
    <button mat-flat-button color="primary" [disabled]="memberOriginForm.invalid">
      {{ isEditMode() ? 'Atualizar' : 'Cadastrar' }}
    </button>
  </app-actions>
</form>
