<mat-card class="wrapper">
  <mat-card-header>
    <mat-card-title>
      Cadastrar pessoa
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="personForm" (ngSubmit)="handleSubmit()" class="form-field-group">
      <div class="inputs">
        <mat-form-field appearance="fill">
          <mat-label>Usuário</mat-label>
          <input matInput formControlName="user_id">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" maxlength="255" required>
          <mat-error *ngIf="personForm.get('name')?.hasError('required')">Campo obrigatório.</mat-error>
          <mat-error *ngIf="personForm.get('name')?.hasError('maxlength')">Máximo de 255 caracteres.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>CPF</mat-label>
          <input matInput formControlName="cpf" mask="000.000.000-00" required>
          <mat-error *ngIf="personForm.get('cpf')?.hasError('required')">Campo obrigatório.</mat-error>
          <mat-error *ngIf="personForm.get('cpf')?.hasError('invalidCpf')">CPF inválido.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" maxlength="255" required>
          <mat-error *ngIf="personForm.get('email')?.hasError('required')">Campo obrigatório.</mat-error>
          <mat-error *ngIf="personForm.get('email')?.hasError('maxlength')">Máximo de 255 caracteres.</mat-error>
          <mat-error *ngIf="personForm.get('email')?.hasError('email')">E-mail inválido.</mat-error>
        </mat-form-field>
      </div>
      <div class="inputs">
        <mat-form-field class="birth_date">
          <mat-label>Data de nascimento</mat-label>
          <input matInput [matDatepicker]="picker" name="birth_date" formControlName="birth_date" readonly required>
          <mat-error *ngIf="personForm.get('birth_date')?.hasError('required')">Campo obrigatório.</mat-error>
          @if(personForm.value.birth_date) {
          <button mat-icon-button matSuffix (click)="clearDate()">
            <mat-icon>close</mat-icon>
          </button>
          }@else {
          <ng-container>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </ng-container>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Sexo</mat-label>
          <mat-select formControlName="sex" required>
            @for (sex of sexs; track sex) {
            <mat-option [value]="sex.value">{{sex.viewValue}}</mat-option>
            }
          </mat-select>
          <mat-error *ngIf="personForm.get('sex')?.hasError('required')">Campo obrigatório.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Celular</mat-label>
          <input matInput formControlName="phone_one" mask="(00) 00000-0000" required>
          <mat-error *ngIf="personForm.get('phone_one')?.hasError('required')">Campo obrigatório.</mat-error>
          <mat-error *ngIf="personForm.get('phone_one')?.hasError('invalidPhone')">Telefone inválido.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Telefone II</mat-label>
          <input matInput formControlName="phone_two" mask="(00) 00000-0000">
          <mat-error *ngIf="personForm.get('phone_two')?.hasError('invalidPhone')">Telefone inválido.</mat-error>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <mat-card-subtitle>Endereços</mat-card-subtitle>
      <div class="inputs">
        <mat-form-field class="reduction" appearance="fill">
          <mat-label>CEP</mat-label>
          <input matInput formControlName="cep" mask="00000-000" required>
          <mat-error *ngIf="personForm.get('cep')?.hasError('required')">Campo obrigatório.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Rua</mat-label>
          <input matInput formControlName="street" maxlength="255" required>
          <mat-error *ngIf="personForm.get('street')?.hasError('required')">Campo obrigatório.</mat-error>
          <mat-error *ngIf="personForm.get('street')?.hasError('maxlength')">Máximo de 255 caracteres.</mat-error>
        </mat-form-field>
        <mat-form-field class="reduction" appearance="fill">
          <mat-label>Número</mat-label>
          <input matInput formControlName="number" maxlength="10" required>
          <mat-error *ngIf="personForm.get('number')?.hasError('required')">Campo obrigatório.</mat-error>
          <mat-error *ngIf="personForm.get('number')?.hasError('maxlength')">Máximo de 10 caracteres.</mat-error>
        </mat-form-field>
      </div>
      <div class="inputs">
        <mat-form-field appearance="fill">
          <mat-label>Complemento</mat-label>
          <input matInput formControlName="complement" maxlength="255">
          <mat-error *ngIf="personForm.get('complement')?.hasError('maxlength')">Máximo de 255 caracteres.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Bairro</mat-label>
          <input matInput formControlName="district" maxlength="255" required>
          <mat-error *ngIf="personForm.get('district')?.hasError('required')">Campo obrigatório.</mat-error>
          <mat-error *ngIf="personForm.get('district')?.hasError('maxlength')">Máximo de 255 caracteres.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="city" maxlength="255" required>
          <mat-error *ngIf="personForm.get('city')?.hasError('required')">Campo obrigatório.</mat-error>
          <mat-error *ngIf="personForm.get('city')?.hasError('maxlength')">Máximo de 255 caracteres.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Estado</mat-label>
          <input matInput formControlName="state" maxlength="255" required>
          <mat-error *ngIf="personForm.get('state')?.hasError('required')">Campo obrigatório.</mat-error>
          <mat-error *ngIf="personForm.get('state')?.hasError('maxlength')">Máximo de 255 caracteres.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>País</mat-label>
          <input matInput formControlName="country" maxlength="255" required>
          <mat-error *ngIf="personForm.get('country')?.hasError('required')">Campo obrigatório.</mat-error>
          <mat-error *ngIf="personForm.get('country')?.hasError('maxlength')">Máximo de 255 caracteres.</mat-error>
        </mat-form-field>
      </div>
      <div *ngIf="personForm.get('updated_at')?.value">
        <span>Atualizado em: {{ personForm.get('updated_at')?.value }}</span>
      </div>
      <mat-divider></mat-divider>
      <mat-card-footer class="cta">
        <button mat-stroked-button color="primary" (click)="handleBack()">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">Cadastrar</button>
      </mat-card-footer>
    </form>
  </mat-card-content>
</mat-card>
