@use 'styles/theme.scss'as theme;
@use '@angular/material'as mat;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

$church-system-primary: mat.define-palette(theme.$primaryColors);
$church-system-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$church-system-warn: mat.define-palette(mat.$red-palette);

$church-system-theme: mat.define-light-theme((color: (primary: $church-system-primary,
      accent: $church-system-accent,
      warn: $church-system-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  ));

@include mat.all-component-themes($church-system-theme);

@include mat.core();

/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

::selection {
  background-color: theme.$greenMain;
  color: theme.$defaultText;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: theme.$backgroundColor;
  color: theme.$textColor;
}

a:hover {
  text-decoration: none;
}

/* Estilos gerais */

/* Estilos específicos */
.row {
  display: flex;
  flex-direction: row;
}

.items-aligns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.ps-nav-separator {
  width: 2px;
  height: 30px;
  background: theme.$separator;
  margin: 0 1.4rem;
}

.text-default {
  color: theme.$textColor;
  font-size: 1rem;
}

.active {
  color: theme.$success;
}

.inactive {
  color: theme.$redMain;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.spacing-items {
  margin: 1rem 0;
}

.spacer {
  flex: 1 1 auto;
}

/* Estilos específicos */

/* Estilos de SnackBar */
.custom-snackbar {
  .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    border-radius: 0.8rem !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: theme.$white !important;
  }
}

.snackbar-success {
  .mdc-snackbar__surface {
    background-color: theme.$greenMain !important;
  }

  .mdc-snackbar__label {
    color: theme.$white !important;
  }
}

.snackbar-error {
  .mdc-snackbar__surface {
    background-color: theme.$redLight !important;
  }

  .mdc-snackbar__label {
    color: theme.$white !important;
  }
}

.snackbar-warning {
  .mdc-snackbar__surface {
    background-color: theme.$warning !important;
  }

  .mdc-snackbar__label {
    color: theme.$white !important;
  }
}

/* Estilos de SnackBar */

/***********************************************************/
/***********************************************************/
/***************** Estilos de Formulário *******************/
/***********************************************************/
/***********************************************************/
.wrapper {
  display: flex;
  flex-direction: column;
}

.form-field-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.add-button {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}

.add-button>button {
  min-width: 15rem;
  height: 2.5rem;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  max-width: 100%;
}

.search {
  width: 20rem;
}

.add-option {
  color: theme.$greenMain !important;
}

mat-form-field {
  width: 100%;
}

.reduction {
  max-width: 13.3rem !important;

  @media screen and (max-width: 768px) {
    max-width: 100% !important;
  }
}

.cta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 1rem;

  @media screen and (max-width: 768px) {
    width: 100%;
    flex-direction: column-reverse;
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem;

  @media screen and (max-width: 768px) {
    .dialog {
      max-width: 100dvw;
    }
  }
}


.checkbox-group {
  display: flex;
  justify-content: space-between;
}

.checkbox-column {
  display: flex;
  flex-direction: column;
}

mat-label {
  @media screen and (max-width: 768px) {
    font-size: 0.8rem;
  }
}

mat-error {
  font-size: 0.75rem;
}
