<div class="wrapper">
  <span class="title">Não há registros!</span>
  <p class="description">
    Sua lista ainda está vazia e não há nenhum registro cadastrado.
  </p>
  <p class="description">
    Clique no botão abaixo para adicionar o primeiro registro e começar a organizar suas informações.
  </p>
  @if (!!addRegisterFn) {
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="addRegisterFn()"
      class="mt-3"
    >
      {{ ctaLabel || 'Adicionar' }}
    </button>
  }
</div>
