<mat-card appearance="outlined" class="spacings">
  <mat-tab-group dynamicHeight>
    <mat-tab label="Dashboard">
      <app-dashboard-church></app-dashboard-church>
    </mat-tab>
    <mat-tab label="Membros">
      <app-members></app-members>
    </mat-tab>
    <mat-tab label="Eventos">
      <app-events></app-events>
    </mat-tab>
    <mat-tab label="Financeiro">
      <p>Financeiro</p>
    </mat-tab>
    <mat-tab label="Tarefas">
      <p>Tarefas</p>
    </mat-tab>
  </mat-tab-group>
</mat-card>
