<section class="py-4">
  <mat-card appearance="outlined">
    <mat-card-content>
      <div [formGroup]="stepThreeForm">
        <app-column [columns]="2">
          <mat-form-field>
            <mat-label>Data do batismo</mat-label>
            <input
              matInput
              name="baptism_date"
              [matDatepicker]="baptismPicker"
              placeholder="__/__/____"
              formControlName="baptism_date"
              (click)="openCalendarBaptismDate()"
              [min]="minDate"
              [max]="maxDate"
              readonly
            />
            <mat-datepicker-toggle matIconSuffix [for]="baptismPicker"></mat-datepicker-toggle>
            <mat-datepicker #baptismPicker>
              <mat-datepicker-actions>
                @if (stepThreeForm.get('baptism_date')?.value) {
                  <button
                    matTooltip="Limpar a data"
                    mat-flat-button
                    matSuffix
                    matDatepickerToggleIcon
                    (click)="clearDate('baptism_date')"
                    type="button"
                    color="warn"
                  >
                    <mat-icon>close</mat-icon>
                    Limpar
                  </button>
                }
                @if (!stepThreeForm.get('baptism_date')?.value) {
                  <button type="button" mat-button matDatepickerCancel>Cancelar</button>
                }
                @if (!stepThreeForm.get('baptism_date')?.value) {
                  <button type="button" mat-flat-button matDatepickerApply>Concluir</button>
                }
              </mat-datepicker-actions>
            </mat-datepicker>
            @if (stepThreeForm.get('baptism_date')?.invalid) {
              <mat-error>{{ getErrorMessage('baptism_date') }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Oficial do batismo</mat-label>
            <input matInput formControlName="baptism_official" />
            @if (stepThreeForm.get('baptism_official')?.invalid) {
              <mat-error>{{ getErrorMessage('baptism_official') }}</mat-error>
            }
          </mat-form-field>
        </app-column>

        <app-column>
          <mat-form-field appearance="fill">
            <mat-label>Local do batismo</mat-label>
            <input matInput formControlName="baptism_locale" />
            @if (stepThreeForm.get('baptism_locale')?.invalid) {
              <mat-error>{{ getErrorMessage('baptism_locale') }}</mat-error>
            }
          </mat-form-field>
        </app-column>

        <app-column [columns]="2">
          <mat-checkbox
            color="primary"
            formControlName="baptism_holy_spirit"
            (change)="onCheckboxChange('baptism_holy_spirit_date', 'baptism_holy_spirit')"
          >
            Batizado pelo Espírito Santo?
          </mat-checkbox>

          @if (stepThreeForm.get('baptism_holy_spirit')?.value) {
            <mat-form-field>
              <mat-label>Data do batismo no Espírito Santo</mat-label>
              <input
                matInput
                name="baptism_holy_spirit_date"
                [matDatepicker]="baptismHolySpiritPicker"
                placeholder="__/__/____"
                formControlName="baptism_holy_spirit_date"
                (click)="openCalendarBaptismHolySpiritDate()"
                [min]="minDate"
                [max]="maxDate"
                readonly
              />
              <mat-datepicker-toggle matIconSuffix [for]="baptismHolySpiritPicker"></mat-datepicker-toggle>
              <mat-datepicker #baptismHolySpiritPicker>
                <mat-datepicker-actions>
                  @if (stepThreeForm.get('baptism_holy_spirit_date')?.value) {
                    <button
                      matTooltip="Limpar a data"
                      mat-flat-button
                      matSuffix
                      matDatepickerToggleIcon
                      (click)="clearDate('baptism_holy_spirit_date')"
                      type="button"
                      color="warn"
                    >
                      <mat-icon>close</mat-icon>
                      Limpar
                    </button>
                  }
                  @if (!stepThreeForm.get('baptism_holy_spirit_date')?.value) {
                    <button type="button" mat-button matDatepickerCancel>Cancelar</button>
                  }
                  @if (!stepThreeForm.get('baptism_holy_spirit_date')?.value) {
                    <button type="button" mat-flat-button matDatepickerApply>Concluir</button>
                  }
                </mat-datepicker-actions>
              </mat-datepicker>
              @if (stepThreeForm.get('baptism_holy_spirit_date')?.invalid) {
                <mat-error>
                  {{ getErrorMessage('baptism_holy_spirit_date') }}
                </mat-error>
              }
            </mat-form-field>
          }
        </app-column>

        <app-column [columns]="2">
          <mat-form-field>
            <mat-label>Data da recepção</mat-label>
            <input
              matInput
              name="receipt_date"
              [matDatepicker]="receiptDatePicker"
              placeholder="__/__/____"
              formControlName="receipt_date"
              (click)="openCalendarReceiptDate()"
              [min]="minDate"
              [max]="maxDate"
              readonly
            />
            <mat-datepicker-toggle matIconSuffix [for]="receiptDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #receiptDatePicker>
              <mat-datepicker-actions>
                @if (stepThreeForm.get('receipt_date')?.value) {
                  <button
                    matTooltip="Limpar a data"
                    mat-flat-button
                    matSuffix
                    matDatepickerToggleIcon
                    (click)="clearDate('receipt_date')"
                    type="button"
                    color="warn"
                  >
                    <mat-icon>close</mat-icon>
                    Limpar
                  </button>
                }
                @if (!stepThreeForm.get('receipt_date')?.value) {
                  <button type="button" mat-button matDatepickerCancel>Cancelar</button>
                }
                @if (!stepThreeForm.get('receipt_date')?.value) {
                  <button type="button" mat-flat-button matDatepickerApply>Concluir</button>
                }
              </mat-datepicker-actions>
            </mat-datepicker>
            @if (stepThreeForm.get('receipt_date')?.invalid) {
              <mat-error>
                {{ getErrorMessage('receipt_date') }}
              </mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Origem do membro</mat-label>
            <input
              type="text"
              matInput
              [matAutocomplete]="autoMemberOrigin"
              [formControl]="searchControlMemberOrigins"
              placeholder="Selecione uma origem do membro"
              (focus)="showAllMemberOrigins()"
              required
            />
            <mat-autocomplete #autoMemberOrigin="matAutocomplete" (optionSelected)="onMemberOriginSelected($event)">
              @for (memberOrigin of filterMemberOrigins | async; track memberOrigin.id) {
                <mat-option [value]="memberOrigin">
                  {{ memberOrigin.name }}
                </mat-option>
              }
            </mat-autocomplete>
            @if (stepThreeForm.get('member_origin_id')?.invalid) {
              <mat-error>
                {{ getErrorMessage('member_origin_id') }}
              </mat-error>
            }
          </mat-form-field>
        </app-column>
      </div>
    </mat-card-content>
  </mat-card>
</section>
