<div class="wrapper">
  <div class="calendar-actions">
    @if (calendarVisibleValue()) {
      <button mat-flat-button color="primary" (click)="handleCreate()">
        <mat-icon>add</mat-icon>
        Novo Evento
      </button>
    }
    <button mat-stroked-button color="primary" (click)="handleEnableCalendar()">
      <mat-icon>{{ calendarVisibleValue() ? 'view_list' : 'calendar_month' }}</mat-icon>
      {{ calendarVisibleValue() ? 'Ver na Lista' : 'Ver no Calendário' }}
    </button>
  </div>

  <div class="container" [class.expanded]="calendarVisibleValue()">
    @if (calendarVisibleValue()) {
      <app-column>
        <div class="full-calendar-container mat-elevation-z3">
          <full-calendar #calendar [options]="calendarOptions()">
            <ng-template #eventContent let-arg>
              <button
                class="full-calendar-event"
                mat-flat-button
                type="button"
                color="primary"
                matTooltipClass="event-tooltip"
                matTooltipPosition="above"
                [matTooltip]="formatTooltip(arg.event)"
              >
                {{ arg.event.title }}
              </button>
            </ng-template>
          </full-calendar>
        </div>
      </app-column>
    }
  </div>

  <div [class.expanded]="!calendarVisibleValue()">
    @if (!calendarVisibleValue()) {
      @if (eventTypes && eventTypes.length > 0) {
        <app-tab-crud
          [tabs]="eventTypes"
          [crudConfig]="crudConfig"
          [dataService]="findEventsByTabIdAdapter"
          [handleCreate]="handleCreate"
        ></app-tab-crud>
      }
    }
  </div>
</div>
