<div class="wrapper">
  <div class="calendar-actions">
    @if (calendarVisible()) {
      <button mat-flat-button color="primary" (click)="onCreateEvent()">
        <mat-icon ripple>add</mat-icon>
        Novo Evento
      </button>
    }
    <button mat-stroked-button color="primary" (click)="handleToggleView()">
      <mat-icon>{{ calendarVisible() ? 'view_list' : 'calendar_month' }}</mat-icon>
      {{ calendarVisible() ? 'Ver na Lista' : 'Ver no Calendário' }}
    </button>
  </div>

  <!-- Container do Calendário -->
  <div class="container" [class.expanded]="calendarVisible()">
    @if (calendarVisible()) {
      <app-column>
        <app-event-calendar
          [events]="mappedEvents()"
          [isMobile]="isMobile()"
          (dateSelect)="handleDateSelect($event)"
          (eventClick)="handleEventClick($event)"
          (eventsSet)="handleEventsSet($event)"
        />
      </app-column>
    }
  </div>

  <!-- Container da Lista -->
  <div class="container" [class.expanded]="!calendarVisible()">
    @if (!calendarVisible()) {
      <app-event-list
        [tabs]="tabs()"
        [crudConfig]="crudConfig"
        [dataService]="findEventsByTabIdAdapter"
        (add)="onCreateEvent()"
      />
    }
  </div>
</div>
