<form
  [formGroup]="ordinationForm"
  (ngSubmit)="handleSubmit()"
  class="form-field-group wrapper"
>
  <app-column>
    <mat-slide-toggle formControlName="status" color="primary">{{
      ordinationForm.get('status')?.value ? 'Ativado' : 'Desativado'
    }}</mat-slide-toggle>
  </app-column>

  <app-column>
    <mat-form-field appearance="fill">
      <mat-label>Membro</mat-label>
      <mat-select formControlName="member_id">
        <mat-select-trigger>
          {{ displayNameMember() }}
        </mat-select-trigger>
        <ng-container *ngIf="filterMembers | async as members">
          <mat-form-field appearance="outline" class="search-field">
            <div class="flex flex-row gap-2">
              <mat-icon>search</mat-icon>
              <input
                matInput
                placeholder="Digite para buscar"
                [formControl]="searchControlMembers"
              />
            </div>
          </mat-form-field>
          <mat-option *ngFor="let member of members" [value]="member.id">
            {{ member.person.name }}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error
        *ngIf="
          ordinationForm.get('member_id')?.invalid &&
          ordinationForm.get('member_id')?.touched
        "
      >
        {{ getErrorMessage('member_id') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ocupação</mat-label>
      <mat-select formControlName="occupation_id">
        <mat-select-trigger>
          {{ displayNameOccupation() }}
        </mat-select-trigger>
        <ng-container *ngIf="filterOccupations | async as occupations">
          <mat-form-field appearance="outline" class="search-field">
            <div class="flex flex-row gap-2">
              <mat-icon>search</mat-icon>
              <input
                matInput
                placeholder="Digite para buscar"
                [formControl]="searchControlOccupation"
              />
            </div>
          </mat-form-field>
          <mat-option
            *ngFor="let occupation of occupations"
            [value]="occupation.id"
          >
            {{ occupation.name }}
          </mat-option>
        </ng-container>
        <mat-option class="add-option" (click)="openAddOccupationForm()">
          Adicionar nova ocupação
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          ordinationForm.get('occupation_id')?.invalid &&
          ordinationForm.get('occupation_id')?.touched
        "
      >
        {{ getErrorMessage('occupation_id') }}
      </mat-error>
    </mat-form-field>
  </app-column>

  <app-column>
    <mat-form-field appearance="fill">
      <mat-label>Data Inicial</mat-label>
      <input
        matInput
        [matDatepicker]="initial_date"
        formControlName="initial_date"
        readonly
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="initial_date"
      ></mat-datepicker-toggle>
      <mat-datepicker #initial_date></mat-datepicker>
      <mat-error
        *ngIf="
          ordinationForm.get('initial_date')?.invalid &&
          ordinationForm.get('initial_date')?.touched
        "
      >
        {{ getErrorMessage('initial_date') }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Data Final</mat-label>
      <input
        matInput
        [matDatepicker]="end_date"
        formControlName="end_date"
        readonly
      />
      <mat-datepicker-toggle matSuffix [for]="end_date"></mat-datepicker-toggle>
      <mat-datepicker #end_date></mat-datepicker>
      <mat-error
        *ngIf="
          ordinationForm.get('end_date')?.invalid &&
          ordinationForm.get('end_date')?.touched
        "
      >
        {{ getErrorMessage('end_date') }}
      </mat-error>
    </mat-form-field>
  </app-column>

  <mat-divider></mat-divider>
  <app-actions>
    <button type="button" mat-stroked-button color="warn" (click)="onCancel()">
      Cancelar
    </button>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="ordinationForm.invalid"
    >
      {{ isEditMode ? 'Atualizar' : 'Cadastrar' }}
    </button>
  </app-actions>
</form>
