<ng-container
  *ngIf="
    (ordination && ordination.length > 0) || rendering;
    else noDataTemplate
  "
>
  <app-crud
    [enablePagination]="false"
    [fields]="ordination"
    [dataSourceMat]="dataSourceMat"
    [columnDefinitions]="columnDefinitions"
    [addFn]="handleCreate"
    [editFn]="handleEdit"
    [deleteFn]="handleDelete"
    [actions]="actions"
  ></app-crud>
</ng-container>

<ng-template #noDataTemplate>
  <app-not-found-register
    [template]="'ordenação'"
    [ctaLabel]="'Adicionar'"
    [addRegisterFn]="handleCreate"
  ></app-not-found-register>
</ng-template>
