<section class="py-4">
  <mat-card appearance="outlined" class="wrapper">
    <mat-card-title class="pb-3">Informações adicionais</mat-card-title>
    <mat-card-content>
      <form [formGroup]="memberForm" (ngSubmit)="isEditMode ? handleSubmit(): null" class="form-field-group">
        <div class="inputs">
          <mat-form-field appearance="fill">
            <mat-label>Formação</mat-label>
            <mat-select formControlName="formation">
              <mat-option *ngFor="let option of formationOptions" [value]="option.value">
                {{ option.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="memberForm.get('formation')?.invalid && memberForm.get('formation')?.touched">{{ getErrorMessage('formation') }}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Curso de Formação</mat-label>
            <input matInput formControlName="formation_course" />
            <mat-error
              *ngIf="memberForm.get('formation_course')?.invalid && memberForm.get('formation_course')?.touched">{{ getErrorMessage('formation_course') }}</mat-error>
          </mat-form-field>
        </div>
        <div class="inputs">
          <mat-form-field appearance="fill">
            <mat-label>Profissão</mat-label>
            <input matInput formControlName="profission" />
            <mat-error
              *ngIf="memberForm.get('profission')?.invalid && memberForm.get('profission')?.touched">{{ getErrorMessage('profission') }}</mat-error>
          </mat-form-field>
        </div>
        <div class="inputs checkbox-column" style="max-width: 40rem;">
          <mat-label>Deficiências</mat-label>
          <div class="checkbox-group">
            <div class="checkbox-column">
              <mat-checkbox color="primary" formControlName="def_hearing">Auditiva</mat-checkbox>
              <mat-checkbox color="primary" formControlName="def_visual">Visual</mat-checkbox>
              <mat-checkbox color="primary" formControlName="def_physical">Física</mat-checkbox>
              <mat-checkbox color="primary" formControlName="def_other">Outra</mat-checkbox>
            </div>
            <div class="checkbox-column">
              <mat-checkbox color="primary" formControlName="def_mental">Mental</mat-checkbox>
              <mat-checkbox color="primary" formControlName="def_intellectual">Intelectual</mat-checkbox>
              <mat-checkbox color="primary" formControlName="def_multiple">Múltipla</mat-checkbox>
            </div>
          </div>

          <mat-form-field appearance="fill" *ngIf="memberForm.get('def_other')?.value">
            <mat-label>Descrição da Outra Deficiência</mat-label>
            <textarea matInput rows="7" formControlName="def_other_description" matTextareaAutosize></textarea>
            <mat-error
              *ngIf="memberForm.get('def_other_description')?.invalid && memberForm.get('def_other_description')?.touched">{{ getErrorMessage('def_other_description') }}</mat-error>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <mat-card-footer class="cta">
          <button mat-button mat-stroked-button color="warn" type="button"
            (click)="activeTabIndex ? navigationService.previousTab() : handleBack()">{{activeTabIndex ? 'Voltar' : 'Cancelar'}}</button>
          <button mat-raised-button color="primary" [disabled]="memberForm.invalid"
            (click)="navigationService.nextTab()">{{isEditMode ? 'Salvar' : 'Continuar'}}</button>
        </mat-card-footer>
      </form>
    </mat-card-content>
  </mat-card>
</section>
