<div class="make-call-container">
  <mat-accordion [multi]="false">
    <mat-expansion-panel expanded (opened)="detailsEvent.set(true)" (closed)="detailsEvent.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title>Detalhes do evento</mat-panel-title>
      </mat-expansion-panel-header>
      @if (callToDays && callToDays.length > 0) {
        <app-details-event [callToDay]="callToDays[0]"></app-details-event>
      } @else {
        <app-details-event></app-details-event>
      }
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion [multi]="false">
    <mat-expansion-panel (opened)="participants.set(true)" (closed)="participants.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title>Participantes adicionados</mat-panel-title>
      </mat-expansion-panel-header>
      @if (event) {
        <app-add-members-guests [event]="event"></app-add-members-guests>
      }
    </mat-expansion-panel>
  </mat-accordion>

  <app-column [columns]="2">
    <button mat-stroked-button type="button" color="warn" (click)="closeDialog()">Cancelar</button>
    <button mat-flat-button type="submit" color="primary" (click)="closeDialog()">Concluir</button>
  </app-column>
</div>
