.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.6rem;

  &+& {
    margin: 1rem 0;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
