<form
  [formGroup]="familyForm"
  (ngSubmit)="handleSubmit()"
  class="form-field-group"
>
  <app-column>
    <mat-checkbox
      formControlName="is_member"
      (change)="onCheckboxChange($event.checked)"
      color="primary"
    >
      A filiação é membro?
    </mat-checkbox>
  </app-column>

  <app-column>
    @if (handleIsMemberChange()) {
      <mat-form-field appearance="fill">
        <mat-label>Filiação</mat-label>
        <input
          type="text"
          matInput
          [matAutocomplete]="person_id"
          [formControl]="searchControlPersons"
          placeholder="Selecione uma pessoa"
          (focus)="showAllPersons()"
          required
        />
        <mat-autocomplete
          #person_id="matAutocomplete"
          (optionSelected)="onPersonSelected($event)"
        >
          @for (persons of filterPersons | async; track $index) {
            <mat-option [value]="persons">
              {{ persons.name }}
            </mat-option>
          } @empty {
            <mat-option class="add-option" (click)="openAddPersonDialog()">
              Adicionar nova pessoa
            </mat-option>
          }
        </mat-autocomplete>
        @if (
          familyForm.get('person_id')?.invalid &&
          familyForm.get('person_id')?.touched
        ) {
          <mat-error>
            {{ getErrorMessage('person_id') }}
          </mat-error>
        }
      </mat-form-field>
    } @else {
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" required />
        @if (
          familyForm.get('name')?.invalid && familyForm.get('name')?.touched
        ) {
          <mat-error>{{ getErrorMessage('name') }}</mat-error>
        }
      </mat-form-field>
    }
    <mat-form-field appearance="fill">
      <mat-label>Parentesco</mat-label>
      <input
        type="text"
        matInput
        [matAutocomplete]="kinship_id"
        [formControl]="searchControlKinship"
        placeholder="Selecione um parentesco"
        (focus)="showAllKinships()"
        required
      />
      <mat-autocomplete
        #kinship_id="matAutocomplete"
        (optionSelected)="onKinshipsSelected($event)"
      >
        @for (kinships of filterKinships | async; track $index) {
          <mat-option [value]="kinships">
            {{ kinships.name }}
          </mat-option>
        }
      </mat-autocomplete>
      @if (
        familyForm.get('kinship_id')?.invalid &&
        familyForm.get('kinship_id')?.touched
      ) {
        <mat-error>
          {{ getErrorMessage('kinship_id') }}
        </mat-error>
      }
    </mat-form-field>
  </app-column>

  <mat-divider></mat-divider>
  <app-actions>
    <button
      mat-stroked-button
      color="warn"
      type="button"
      (click)="handleBack()"
    >
      Cancelar
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="familyForm.invalid"
    >
      {{ isEditMode ? 'Atualizar' : 'Cadastrar' }}
    </button>
  </app-actions>
</form>
