<div class="make-call-container">
  <form [formGroup]="frequencyForm">
    <mat-accordion [multi]="false">
      <mat-expansion-panel
        [expanded]="detailsEvent()"
        (opened)="detailsEvent.set(true)"
        (closed)="detailsEvent.set(false)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Detalhes do evento</mat-panel-title>
        </mat-expansion-panel-header>
        @if (callToDays().length > 0) {
          <mat-form-field appearance="fill">
            <mat-label>Chamada do dia</mat-label>
            <input
              type="text"
              matInput
              [matAutocomplete]="autoCallToDay"
              [formControl]="callToDayControl"
              placeholder="Selecione uma chamada do dia"
            />
            <mat-autocomplete
              #autoCallToDay="matAutocomplete"
              (optionSelected)="onCallToDaySelected($event)"
              [displayWith]="displayCallToDay"
            >
              @for (callToDay of filteredCallToDays(); track callToDay.id) {
                <mat-option [value]="callToDay">
                  {{ displayCallToDay(callToDay) }}
                </mat-option>
              }
            </mat-autocomplete>
            @if (frequencyForm.get('event_call_id')?.invalid && frequencyForm.get('event_call_id')?.touched) {
              <mat-error>{{ getErrorMessage('event_call_id') }}</mat-error>
            }
            @if (callToDayControl.value) {
              <button type="button" matSuffix mat-icon-button aria-label="Limpar" (click)="onClear()">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
        } @else {
          <p>Nenhuma chamada do dia disponível</p>
        }
      </mat-expansion-panel>
    </mat-accordion>
  </form>

  <mat-accordion [multi]="false">
    <mat-expansion-panel
      [expanded]="participantsSignal()"
      (opened)="participantsSignal.set(true)"
      (closed)="participantsSignal.set(false)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>Participantes</mat-panel-title>
      </mat-expansion-panel-header>
      <app-add-members-guests
        [event]="event()"
        [isDisabled]="isPastDate()"
        (selectionChange)="onSelectionChange($event)"
      ></app-add-members-guests>
    </mat-expansion-panel>
  </mat-accordion>

  <app-column [columns]="2">
    <button mat-stroked-button type="button" color="warn" (click)="closeDialog()">Cancelar</button>
    <button
      mat-flat-button
      type="submit"
      color="primary"
      (click)="save()"
      [disabled]="frequencyForm.invalid || isPastDate()"
    >
      Concluir
    </button>
  </app-column>
</div>
