<form [formGroup]="occupationForm" (ngSubmit)="handleSubmit()" class="form-field-group">
  <app-column>
    <mat-slide-toggle formControlName="status" color="primary"
      >{{ occupationForm.get('status')?.value ? 'Ativado' : 'Desativado' }}
    </mat-slide-toggle>
  </app-column>

  <app-column>
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" maxlength="255" required />
      @if (occupationForm.get('name')?.invalid) {
        <mat-error>{{ getErrorMessage('name') }}</mat-error>
      }
    </mat-form-field>
  </app-column>

  <app-column>
    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput rows="5" formControlName="description"></textarea>
      @if (occupationForm.get('description')?.invalid) {
        <mat-error>{{ getErrorMessage('description') }}</mat-error>
      }
    </mat-form-field>
  </app-column>

  <app-actions>
    <button type="button" mat-stroked-button color="warn" (click)="handleBack()">Cancelar</button>
    <button type="submit" mat-flat-button color="primary" [disabled]="occupationForm.invalid">
      {{ isEditMode() ? 'Atualizar' : 'Cadastrar' }}
    </button>
  </app-actions>
</form>
