<form
  [formGroup]="memberForm"
  (ngSubmit)="handleSubmit()"
  class="form-field-group"
>
  <mat-tab-group preserveContent dynamicHeight [(selectedIndex)]="currentStep">
    <mat-tab label="Identificação" [disabled]="isTabDisabled(0)">
      <section class="py-4">
        <mat-card appearance="outlined">
          <mat-card-content>
            <div formGroupName="stepOne">
              <app-column [columns]="2">
                <mat-form-field appearance="fill">
                  <mat-label>Pessoa</mat-label>
                  <input
                    type="text"
                    matInput
                    [matAutocomplete]="autoPerson"
                    [formControl]="searchControlPerson"
                    placeholder="Selecione uma pessoa"
                    (focus)="showAllPerson()"
                    required
                  />
                  <mat-autocomplete
                    #autoPerson="matAutocomplete"
                    (optionSelected)="onPersonSelected($event)"
                  >
                    <mat-option
                      *ngFor="let person of filteredPerson | async"
                      [value]="person"
                    >
                      {{ person.name }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error
                    *ngIf="
                      memberForm.get('stepOne.person_id')?.invalid &&
                      memberForm.get('stepOne.person_id')?.touched
                    "
                  >
                    {{ getErrorMessage('stepOne.person_id') }}
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Igreja</mat-label>
                  <input
                    type="text"
                    matInput
                    [matAutocomplete]="autoChurch"
                    [formControl]="searchControlChurch"
                    placeholder="Selecione uma igreja"
                    (focus)="showAllChurch()"
                    required
                  />
                  <mat-autocomplete
                    #autoChurch="matAutocomplete"
                    (optionSelected)="onChurchSelected($event)"
                  >
                    <mat-option
                      *ngFor="let church of filteredChurch | async"
                      [value]="church"
                    >
                      {{ church.name }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error
                    *ngIf="
                      memberForm.get('stepOne.church_id')?.invalid &&
                      memberForm.get('stepOne.church_id')?.touched
                    "
                  >
                    {{ getErrorMessage('stepOne.church_id') }}
                  </mat-error>
                </mat-form-field>
              </app-column>

              <app-column [columns]="2">
                <mat-form-field appearance="fill">
                  <mat-label>RG</mat-label>
                  <input matInput formControlName="rg" maxlength="15" />
                  <mat-error
                    *ngIf="
                      memberForm.get('stepOne.rg')?.invalid &&
                      memberForm.get('stepOne.rg')?.touched
                    "
                  >
                    {{ getErrorMessage('stepOne.rg') }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Orgão Expedidor</mat-label>
                  <input
                    matInput
                    formControlName="issuing_body"
                    maxlength="15"
                  />
                  <mat-error
                    *ngIf="
                      memberForm.get('stepOne.issuing_body')?.invalid &&
                      memberForm.get('stepOne.issuing_body')?.touched
                    "
                  >
                    {{ getErrorMessage('stepOne.issuing_body') }}
                  </mat-error>
                </mat-form-field>
              </app-column>

              <app-column [columns]="2">
                <mat-form-field appearance="fill">
                  <mat-label>Estado Civil</mat-label>
                  <input
                    type="text"
                    matInput
                    [matAutocomplete]="autoCivilStatus"
                    [formControl]="searchControlCivilStatus"
                    placeholder="Selecione um estado civil"
                    (focus)="showAllCivilStatus()"
                    required
                  />
                  <mat-autocomplete
                    #autoCivilStatus="matAutocomplete"
                    (optionSelected)="onCivilStatusSelected($event)"
                  >
                    <mat-option
                      *ngFor="
                        let civilStatus of filteredCivilStatus | async
                      "
                      [value]="civilStatus"
                    >
                      {{ civilStatus.name }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error
                    *ngIf="
                      memberForm.get('stepOne.civil_status_id')?.invalid &&
                      memberForm.get('stepOne.civil_status_id')?.touched
                    "
                  >
                    {{ getErrorMessage('stepOne.civil_status_id') }}
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Cor/raça</mat-label>
                  <input
                    type="text"
                    matInput
                    [matAutocomplete]="autoColorRace"
                    [formControl]="searchControlColorRace"
                    placeholder="Selecione um Cor/raça"
                    (focus)="showAllColorRace()"
                    required
                  />
                  <mat-autocomplete
                    #autoColorRace="matAutocomplete"
                    (optionSelected)="onColorRaceSelected($event)"
                  >
                    <mat-option
                      *ngFor="
                        let colorRace of filteredColorRace | async
                      "
                      [value]="colorRace"
                    >
                      {{ colorRace.name }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error
                    *ngIf="
                      memberForm.get('stepOne.color_race_id')?.invalid &&
                      memberForm.get('stepOne.color_race_id')?.touched
                    "
                  >
                    {{ getErrorMessage('stepOne.color_race_id') }}
                  </mat-error>
                </mat-form-field>
              </app-column>

              <app-column [columns]="2">
                <mat-form-field appearance="fill">
                  <mat-label>Nacionalidade</mat-label>
                  <input matInput formControlName="nationality" />
                  <mat-error
                    *ngIf="
                      memberForm.get('stepOne.nationality')?.invalid &&
                      memberForm.get('stepOne.nationality')?.touched
                    "
                  >
                    {{ getErrorMessage('stepOne.nationality') }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Naturalidade</mat-label>
                  <input matInput formControlName="naturalness" />
                  <mat-error
                    *ngIf="
                      memberForm.get('stepOne.naturalness')?.invalid &&
                      memberForm.get('stepOne.naturalness')?.touched
                    "
                  >
                    {{ getErrorMessage('stepOne.naturalness') }}
                  </mat-error>
                </mat-form-field>
              </app-column>
            </div>
          </mat-card-content>
        </mat-card>
      </section>
    </mat-tab>

    <mat-tab label="Inf. complementares" [disabled]="isTabDisabled(1)">
      <section class="py-4">
        <mat-card appearance="outlined">
          <mat-card-content>
            <div formGroupName="stepTwo">
              <app-column>
                <mat-form-field appearance="fill">
                  <mat-label>Profissão</mat-label>
                  <input matInput formControlName="profission" />
                  <mat-error
                    *ngIf="
                      memberForm.get('stepTwo.profission')?.invalid &&
                      memberForm.get('stepTwo.profission')?.touched
                    "
                  >
                    {{ getErrorMessage('stepTwo.profission') }}
                  </mat-error>
                </mat-form-field>
              </app-column>

              <app-column [columns]="isFormationCourseVisible ? 2 : 1">
                <mat-form-field appearance="fill">
                  <mat-label>Formação</mat-label>
                  <input
                    type="text"
                    matInput
                    [matAutocomplete]="autoFormation"
                    [formControl]="searchControlFormations"
                    placeholder="Selecione uma formação"
                    (focus)="showAllFormations()"
                    required
                  />
                  <mat-autocomplete
                    #autoFormation="matAutocomplete"
                    (optionSelected)="onFormationsSelected($event)"
                  >
                    <mat-option
                      *ngFor="
                        let formation of filteredFormations | async
                      "
                      [value]="formation"
                    >
                      {{ formation.name }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error
                    *ngIf="
                      memberForm.get('stepTwo.formation_id')?.invalid &&
                      memberForm.get('stepTwo.formation_id')?.touched
                    "
                  >
                    {{ getErrorMessage('stepTwo.formation_id') }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="isFormationCourseVisible">
                  <mat-label>Curso de Formação</mat-label>
                  <input matInput formControlName="formation_course" />
                  <mat-error
                    *ngIf="
                      memberForm.get('stepTwo.formation_course')?.invalid &&
                      memberForm.get('stepTwo.formation_course')?.touched
                    "
                  >
                    {{ getErrorMessage('stepTwo.formation_course') }}
                  </mat-error>
                </mat-form-field>
              </app-column>

              <app-column [columns]="1">
                <label id="example-radio-group-label">Possui alguma
                                                      deficiência ?</label>
                <mat-radio-group
                  color="primary"
                  aria-label="Possui alguma deficiência"
                  formControlName="has_disability">
                <mat-radio-button [value]="true">Sim</mat-radio-button>
                <mat-radio-button [value]="false">Não</mat-radio-button>
                </mat-radio-group>
              </app-column>

              @if (memberForm.get('stepTwo.has_disability')?.value) {
                <app-column [columns]="1">
                  <app-column [columns]="4">
                    <div class="checkbox-column">
                      <mat-checkbox
                        color="primary" formControlName="def_hearing"
                      >Auditiva
                      </mat-checkbox
                      >
                      <mat-checkbox
                        color="primary" formControlName="def_visual"
                      >Visual
                      </mat-checkbox
                      >
                      <mat-checkbox
                        color="primary" formControlName="def_physical"
                      >Física
                      </mat-checkbox
                      >
                      <mat-checkbox
                        color="primary" formControlName="def_other"
                      >Outra
                      </mat-checkbox
                      >
                    </div>
                    <div class="checkbox-column">
                      <mat-checkbox
                        color="primary" formControlName="def_mental"
                      >Mental
                      </mat-checkbox
                      >
                      <mat-checkbox
                        color="primary"
                        formControlName="def_intellectual"
                      >Intelectual
                      </mat-checkbox
                      >
                      <mat-checkbox
                        color="primary" formControlName="def_multiple"
                      >Múltipla
                      </mat-checkbox
                      >
                    </div>
                  </app-column>
                  <mat-form-field
                    appearance="fill"
                    *ngIf="memberForm.get('stepTwo.def_other')?.value"
                  >
                    <mat-label>Descreva a deficiência...</mat-label>
                    <textarea
                      matInput
                      rows="4"
                      formControlName="def_other_description"
                      matTextareaAutosize
                    ></textarea>
                    <mat-error
                      *ngIf="
                      memberForm.get('stepTwo.def_other_description')
                        ?.invalid &&
                      memberForm.get('stepTwo.def_other_description')?.touched
                    "
                    >
                      {{ getErrorMessage('stepTwo.def_other_description') }}
                    </mat-error>
                  </mat-form-field>
                </app-column>
              }
            </div>
          </mat-card-content>
        </mat-card>
      </section>
    </mat-tab>

    <mat-tab label="Inf. espirituais" [disabled]="isTabDisabled(2)">
      <section class="py-4">
        <mat-card appearance="outlined">
          <mat-card-content>
            <div formGroupName="stepThree">
              <app-column [columns]="2">
                <mat-form-field>
                  <mat-label>Data do batismo</mat-label>
                  <input
                    matInput
                    name="baptism_date"
                    [matDatepicker]="baptismPicker"
                    placeholder="dd/mm/aaaa"
                    formControlName="baptism_date"
                    (click)="openCalendarBaptismDate()"
                    [min]="minDate"
                    [max]="maxDate"
                    readonly
                  >
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="baptismPicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #baptismPicker>
                    <mat-datepicker-actions>
                      @if (memberForm.get('stepThree.baptism_date')?.value) {
                        <button
                          matTooltip="Limpar a data"
                          mat-flat-button
                          matSuffix
                          matDatepickerToggleIcon
                          (click)="clearDate('stepThree.baptism_date')"
                          type="button"
                          color="warn"
                        >
                          <mat-icon>close</mat-icon>
                          Limpar
                        </button>
                      } @else {
                        <button
                          type="button"
                          mat-button
                          matDatepickerCancel
                        >
                          Cancelar
                        </button>
                        <button
                          type="button" mat-flat-button matDatepickerApply
                        >
                          Concluir
                        </button>
                      }
                    </mat-datepicker-actions>
                  </mat-datepicker>

                  @if (memberForm.get('stepThree.baptism_date')?.invalid &&
                  memberForm.get('stepThree.baptism_date')?.touched) {
                    <mat-error>{{ getErrorMessage('stepThree.baptism_date') }}
                    </mat-error>

                  }
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Oficial do batismo</mat-label>
                  <input matInput formControlName="baptism_official" />
                  <mat-error
                    *ngIf="
                      memberForm.get('stepThree.baptism_official')?.invalid &&
                      memberForm.get('stepThree.baptism_official')?.touched
                    "
                  >{{
                      getErrorMessage('stepThree.baptism_official')
                    }}
                  </mat-error
                  >
                </mat-form-field>
              </app-column>

              <app-column>
                <mat-form-field appearance="fill">
                  <mat-label>Local do batismo</mat-label>
                  <input matInput formControlName="baptism_locale" />
                  <mat-error
                    *ngIf="
                      memberForm.get('stepThree.baptism_locale')?.invalid &&
                      memberForm.get('stepThree.baptism_locale')?.touched
                    "
                  >{{
                      getErrorMessage('stepThree.baptism_locale')
                    }}
                  </mat-error
                  >
                </mat-form-field>
              </app-column>

              <app-column [columns]="2">
                  <mat-checkbox
                    color="primary"
                    formControlName="baptism_holy_spirit"
                    (change)="
                      onCheckboxChange(
                        'stepThree.baptism_holy_spirit_date',
                        'stepThree.baptism_holy_spirit'
                      )
                    "
                  >
                    Batizado pelo Espírito Santo?
                  </mat-checkbox>

                @if (memberForm.get('stepThree.baptism_holy_spirit')?.value) {
                  <mat-form-field>
                    <mat-label>Data do batismo no Espírito Santo</mat-label>
                    <input
                      matInput
                      name="baptism_holy_spirit_date"
                      [matDatepicker]="baptismHolySpiritPicker"
                      placeholder="dd/mm/aaaa"
                      formControlName="baptism_holy_spirit_date"
                      (click)="openCalendarBaptismHolySpiritDate()"
                      [min]="minDate"
                      [max]="maxDate"
                      readonly
                    >
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="baptismHolySpiritPicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #baptismHolySpiritPicker>
                      <mat-datepicker-actions>
                        @if (memberForm.get(
                          'stepThree.baptism_holy_spirit_date')?.value) {
                          <button
                            matTooltip="Limpar a data"
                            mat-flat-button
                            matSuffix
                            matDatepickerToggleIcon
                            (click)="clearDate('stepThree.baptism_holy_spirit_date')"
                            type="button"
                            color="warn"
                          >
                            <mat-icon>close</mat-icon>
                            Limpar
                          </button>
                        } @else {
                          <button
                            type="button"
                            mat-button
                            matDatepickerCancel
                          >
                            Cancelar
                          </button>
                          <button
                            type="button" mat-flat-button matDatepickerApply
                          >
                            Concluir
                          </button>
                        }
                      </mat-datepicker-actions>
                    </mat-datepicker>

                    @if (memberForm.get(
                      'stepThree.baptism_holy_spirit_date')?.invalid &&
                    memberForm.get(
                      'stepThree.baptism_holy_spirit_date')?.touched) {
                      <mat-error>{{ getErrorMessage(
                        'stepThree.baptism_holy_spirit_date') }}
                      </mat-error>
                    }
                  </mat-form-field>
                }
              </app-column>

              <app-column [columns]="2">
                <mat-form-field>
                  <mat-label>Data da recepção</mat-label>
                  <input
                    matInput
                    name="receipt_date"
                    [matDatepicker]="receiptDatePicker"
                    placeholder="dd/mm/aaaa"
                    formControlName="receipt_date"
                    (click)="openCalendarReceiptDate()"
                    [min]="minDate"
                    [max]="maxDate"
                    readonly
                  >
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="receiptDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #receiptDatePicker>
                    <mat-datepicker-actions>
                      @if (memberForm.get(
                        'stepThree.receipt_date')?.value) {
                        <button
                          matTooltip="Limpar a data"
                          mat-flat-button
                          matSuffix
                          matDatepickerToggleIcon
                          (click)="clearDate('stepThree.receipt_date')"
                          type="button"
                          color="warn"
                        >
                          <mat-icon>close</mat-icon>
                          Limpar
                        </button>
                      } @else {
                        <button
                          type="button"
                          mat-button
                          matDatepickerCancel
                        >
                          Cancelar
                        </button>
                        <button
                          type="button" mat-flat-button matDatepickerApply
                        >
                          Concluir
                        </button>
                      }
                    </mat-datepicker-actions>
                  </mat-datepicker>

                  @if (memberForm.get(
                    'stepThree.receipt_date')?.invalid &&
                  memberForm.get(
                    'stepThree.receipt_date')?.touched) {
                    <mat-error>{{ getErrorMessage(
                      'stepThree.receipt_date') }}
                    </mat-error>
                  }
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Origem do membro</mat-label>
                  <input
                    type="text"
                    matInput
                    [matAutocomplete]="autoMemberOrigin"
                    [formControl]="searchControlMemberOrigins"
                    placeholder="Selecione uma origem do membro"
                    (focus)="showAllMemberOrigins()"
                    required
                  />
                  <mat-autocomplete
                    #autoMemberOrigin="matAutocomplete"
                    (optionSelected)="onMemberOriginSelected($event)"
                  >
                    <mat-option
                      *ngFor="
                        let memberOrigin of filterMemberOrigins | async
                      "
                      [value]="memberOrigin"
                    >
                      {{ memberOrigin.name }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error
                    *ngIf="
                      memberForm.get('stepThree.member_origin_id')?.invalid &&
                      memberForm.get('stepThree.member_origin_id')?.touched
                    "
                  >
                    {{ getErrorMessage('stepThree.member_origin_id') }}
                  </mat-error>
                </mat-form-field>
              </app-column>
            </div>
          </mat-card-content>
        </mat-card>
      </section>
    </mat-tab>

    @if (isEditMode) {
      <mat-tab label="Filiação">
        <div formGroupName="stepFour">
          <app-families [families]="families"></app-families>
        </div>
      </mat-tab>
      <mat-tab label="Ordenação">
        <div formGroupName="stepFive">
          <app-ordinations [ordination]="ordinations"></app-ordinations>
        </div>
      </mat-tab>
      <mat-tab label="Situação">
        <div formGroupName="stepSix">
          <app-status-member
            [status_member]="status_member"
          ></app-status-member>
        </div>
      </mat-tab>
    }
  </mat-tab-group>

  <app-actions>
    <button mat-stroked-button color="warn" type="button" (click)="onBack()">
      {{ currentStep === 0 ? 'Cancelar' : 'Voltar' }}
    </button>
    <ng-container *ngIf="isEditMode">
      <button
        mat-flat-button
        (click)="onNext()"
        type="button"
        color="primary"
        [disabled]="memberForm.get('step' + currentStep + 1)?.valid"
        *ngIf="currentStep < 5"
      >
        Avançar
      </button>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        *ngIf="currentStep === 5"
        [disabled]="memberForm.invalid || !canProceedToNextStep()"
      >
        {{ isEditMode ? 'Atualizar' : 'Cadastrar' }}
      </button>
      @if (currentStep !== 5) {
        <button
          mat-stroked-button
          color="primary"
          type="submit"
          (click)="handleUpdateWithoutClosing()"
          [disabled]="memberForm.invalid"
        >
          Atualizar
        </button>
      }
    </ng-container>
    <ng-container *ngIf="!isEditMode">
      <button
        mat-flat-button
        (click)="onNext()"
        type="button"
        color="primary"
        [disabled]="!canProceedToNextStep()"
        *ngIf="currentStep < 2"
      >
        Avançar
      </button>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        (click)="finalizeStepThree()"
        [disabled]="memberForm.invalid"
        *ngIf="currentStep === 2"
      >
        Cadastrar
      </button>
    </ng-container>
  </app-actions>
</form>
