<mat-tab-group>
  <mat-tab label="Identificação">
    <form
      [formGroup]="guestForm"
      (ngSubmit)="handleNext()"
      class="form-field-group"
    >
      <app-column>
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" maxlength="255" required />
          <mat-error
            *ngIf="
              guestForm.get('name')?.invalid && guestForm.get('name')?.touched
            "
            >{{ getErrorMessage('name') }}</mat-error
          >
        </mat-form-field>
      </app-column>

      <app-column [columns]="2">
        <mat-form-field appearance="fill">
          <mat-label>Celular</mat-label>
          <input
            matInput
            formControlName="phone_one"
            mask="(00) 00000-0000"
            required
          />
          <mat-error
            *ngIf="
              guestForm.get('phone_one')?.invalid &&
              guestForm.get('phone_one')?.touched
            "
            >{{ getErrorMessage('phone_one') }}</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Telefone II</mat-label>
          <input matInput formControlName="phone_two" mask="(00) 00000-0000" />
          <mat-error
            *ngIf="
              guestForm.get('phone_two')?.invalid &&
              guestForm.get('phone_two')?.touched
            "
            >{{ getErrorMessage('phone_two') }}</mat-error
          >
        </mat-form-field>
      </app-column>

      <mat-divider></mat-divider>
      <app-actions>
        <button
          mat-stroked-button
          type="button"
          color="warn"
          (click)="handleCancel()"
        >
          Cancelar
        </button>
        <button mat-flat-button type="submit" color="primary">Avançar</button>
      </app-actions>
    </form>
  </mat-tab>

  <mat-tab label="Endereço">
    <form
      [formGroup]="guestForm"
      (ngSubmit)="handleSubmit()"
      class="form-field-group"
    >
      <app-column [columns]="2">
        <mat-form-field class="cep-field" appearance="fill">
          <mat-label>CEP</mat-label>
          <input matInput formControlName="cep" mask="00000-000" required />
          <mat-error
            *ngIf="
              guestForm.get('cep')?.invalid && guestForm.get('cep')?.touched
            "
            >{{ getErrorMessage('cep') }}</mat-error
          >
        </mat-form-field>
      </app-column>

      <app-column [columns]="2">
        <mat-form-field appearance="fill">
          <mat-label>Rua</mat-label>
          <input matInput formControlName="street" maxlength="255" required />
          <mat-error
            *ngIf="
              guestForm.get('street')?.invalid &&
              guestForm.get('street')?.touched
            "
            >{{ getErrorMessage('street') }}</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Número</mat-label>
          <input matInput formControlName="number" maxlength="10" required />
          <mat-error
            *ngIf="
              guestForm.get('number')?.invalid &&
              guestForm.get('number')?.touched
            "
            >{{ getErrorMessage('number') }}</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Complemento</mat-label>
          <input matInput formControlName="complement" maxlength="255" />
          <mat-error
            *ngIf="
              guestForm.get('complement')?.invalid &&
              guestForm.get('complement')?.touched
            "
            >{{ getErrorMessage('complement') }}</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Bairro</mat-label>
          <input matInput formControlName="district" maxlength="255" required />
          <mat-error
            *ngIf="
              guestForm.get('district')?.invalid &&
              guestForm.get('district')?.touched
            "
            >{{ getErrorMessage('district') }}</mat-error
          >
        </mat-form-field>
      </app-column>

      <app-column [columns]="2">
        <mat-form-field appearance="fill">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="city" maxlength="255" required />
          <mat-error
            *ngIf="
              guestForm.get('city')?.invalid && guestForm.get('city')?.touched
            "
            >{{ getErrorMessage('city') }}</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Estado</mat-label>
          <input matInput formControlName="state" maxlength="255" required />
          <mat-error
            *ngIf="
              guestForm.get('state')?.invalid && guestForm.get('state')?.touched
            "
            >{{ getErrorMessage('state') }}</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>País</mat-label>
          <input matInput formControlName="country" maxlength="255" required />
          <mat-error
            *ngIf="
              guestForm.get('country')?.invalid &&
              guestForm.get('country')?.touched
            "
            >{{ getErrorMessage('country') }}</mat-error
          >
        </mat-form-field>
      </app-column>

      <mat-divider></mat-divider>

      <app-actions>
        <button
          mat-stroked-button
          type="button"
          color="warn"
          (click)="handleBack()"
        >
          Voltar
        </button>
        <button
          mat-flat-button
          type="submit"
          color="primary"
          [disabled]="guestForm.invalid"
        >
          {{ isEditMode ? 'Atualizar' : 'Cadastrar' }}
        </button>
      </app-actions>
    </form>
  </mat-tab>
</mat-tab-group>
