<ng-container *ngIf="ordination && ordination.length > 0; else noDataTemplate">
  <app-table [dataSource]="ordination" [displayedColumns]="displayedColumns" [columnDefinitions]="columnDefinitions"
    [editFn]="editOrdination" [deleteFn]="deleteOrdination" [ctaFn]="addNewOrdination"
    [ctaLabel]="'Adicionar nova ordenação'" [sortColumn]="'initial_date'" [sortDirection]="'asc'"></app-table>
</ng-container>

<ng-template #noDataTemplate>
  <app-not-found-register [template]="'ordenação'" [ctaLabel]="'Adicionar nova ordenação'"
    [addRegisterFn]="addNewOrdination"></app-not-found-register>
</ng-template>
<router-outlet></router-outlet>
