<mat-card appearance="outlined" class="spacings">
  <mat-tab-group dynamicHeight>
    <mat-tab label="Dashboard">
      <app-dashboard></app-dashboard>
    </mat-tab>
    <mat-tab label="Pessoas">
      <app-persons></app-persons>
    </mat-tab>
    <mat-tab label="Igrejas">
      <app-churchs></app-churchs>
    </mat-tab>
    <mat-tab label="Tipos de eventos">
      <app-event-types></app-event-types>
    </mat-tab>
    <mat-tab label="Cargos ministeriais">
      <app-occupations></app-occupations>
    </mat-tab>
    <mat-tab label="Origem do membro">
      <app-member-origin></app-member-origin>
    </mat-tab>
    <mat-tab label="Usuários">
      <app-users></app-users>
    </mat-tab>
    <mat-tab label="Perfis">
      <app-profiles></app-profiles>
    </mat-tab>
  </mat-tab-group>
</mat-card>
