::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  backdrop-filter: blur(0.2rem) !important;
  background: rgba(0, 0, 0, 0.2) !important;
}

.sidenav-container {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.desktop-sidenav,
.sidenav {
  min-height: 100vh;
  width: auto;
  transition: width 0.3s;
  scrollbar-width: thin;
  background-color: var(--white-color);
}

@media (max-width: 768px) {
  .desktop-sidenav {
    display: none;
  }
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  background: var(--white-color);
  text-align: center;

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
      width: 100%;
      max-width: 15rem;
    }
  }

  .church-name {
    color: var(--primary-color);
    font-size: 0.9rem;
    font-weight: 500;

    @media screen and (max-width: 768px) {
      font-size: 0.8rem;
      margin-left: 1rem;
    }
  }
}

.icon-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  &.active-route {
    color: var(--text-color) !important;
    background-color: var(--background-color) !important;
    font-weight: 500;
  }

  &:not(.active-route) {
    color: var(--grey-light);
  }
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  background: var(--background-color);
  height: 100dvh;
  overflow-y: auto;
  padding: 1rem;
}

.mat-button-options,
.menu-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding: 0.75rem 1.5rem;
  border: none !important;
  font-size: 0.8rem;
  border-radius: 0.5rem !important;
  color: var(--grey-dark);

  &.active-route {
    background-color: var(--background-color) !important;
    box-shadow: 0 0.1rem 0.5rem 0.3rem rgba(0, 0, 0, 0.2) inset !important;
  }

  &:not(.active-route) {
    color: var(--grey-light) !important;
  }
}

.menu-text,
.active-route {
  color: var(--grey-light) !important;

  * > :not(.active-route) {
    font-weight: bold !important;
    color: var(--primary-color) !important;
  }

  * > mat-icon {
    color: var(--primary-color);

    * > :not(.active-route mat-icon) {
      color: var(--grey-light);
    }
  }
}

.mat-expansion-panel {
  background: var(--white-color) !important;
  box-shadow: 0 0.4rem 0.3rem -0.1rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 0 !important;
}

.mat-expansion-panel-header {
  background: transparent !important;
}

.mat-expansion-panel-header-title {
  font-weight: 700;
  font-size: 0.85rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

mat-divider {
  margin: 0.5rem 0;
  background-color: var(--grey-light);
}

.mat-expansion-panel-body {
  padding: 0 1rem !important;
}

.navbar {
  display: flex;
  align-items: center;
  height: 2.8rem;
  max-width: 100dvw;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: 1;
  box-shadow:
    0 0.2rem 0.6rem -0.1rem rgba(0, 0, 0, 0.12),
    0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}

.separator {
  background: var(--separator-color);
  height: 2rem;
  margin: 0 1rem;
  width: 0.1rem;
}

.container-section-one-nav {
  flex: 1 1 0;
  display: flex;
  box-sizing: border-box;
  place-content: center flex-start;
  align-items: center;
  flex-direction: row;
  margin-left: 1rem;
}

.wrapper-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 0;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.2rem solid transparent;
  border-radius: 0.5rem !important;
  height: 100%;
  transition: all 0.3s ease-in-out;

  &.active-route {
    color: var(--primary-color);
    border-bottom: 0.2rem solid var(--primary-color);
  }

  &:not(.active-route) {
    color: var(--grey-light);
  }
}

.user-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;

  @media screen and (max-width: 768px) {
    align-items: center;
    justify-content: start;
    width: 100%;
  }
}

.button-text {
  display: inline-flex;
  color: var(--primary-color);
  font-size: 0.8rem;
  vertical-align: middle;
}

.logout {
  display: inline-flex;
  color: var(--error-color);
  font-size: 0.8rem;
  vertical-align: middle;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 1rem;

  .breadcrumb-separator {
    color: var(--grey-light);
  }

  @media screen and (max-width: 768px) {
    margin-left: 0;
  }
}
