<!-- <ng-container *ngIf="occupations && occupations.length > 0; else noDataTemplate">
  <app-table [dataSource]="occupations" [displayedColumns]="displayedColumns" [columnDefinitions]="columnDefinitions"
    [editFn]="editOccupation" [deleteFn]="deleteOccupation" [ctaFn]="addNewOccupation" [ctaLabel]="'Adicionar'"
    [sortColumn]="'name'" [sortDirection]="'asc'"></app-table>
</ng-container> -->

<ng-template #noDataTemplate>
  <app-not-found-register
    [template]="'Ocupações'"
    [ctaLabel]="'Adicionar Nova Ocupação'"
    [addRegisterFn]="addNewOccupation"
  ></app-not-found-register>
</ng-template>
