<ng-container *ngIf="memberOrigins && memberOrigins.length > 0; else noDataTemplate">
  <app-table [dataSource]="memberOrigins" [displayedColumns]="displayedColumns" [columnDefinitions]="columnDefinitions"
    [editFn]="editMemberOrigin" [deleteFn]="deleteMemberOrigin" [ctaFn]="addNewMemberOrigin" [ctaLabel]="'Adicionar'"
    [sortColumn]="'name'" [sortDirection]="'asc'"></app-table>
</ng-container>

<ng-template #noDataTemplate>
  <app-not-found-register [template]="'origem do membro'" [ctaLabel]="'Adicionar nova origem'"
    [addRegisterFn]="addNewMemberOrigin"></app-not-found-register>
</ng-template>
