<ng-container *ngIf="eventTypes && eventTypes.length > 0; else noDataTemplate">
  <app-table [dataSource]="eventTypes" [displayedColumns]="displayedColumns" [columnDefinitions]="columnDefinitions"
    [editFn]="editEventTypes" [deleteFn]="deleteEventTypes" [ctaFn]="addNewEventTypes" [ctaLabel]="'Adicionar'"
    [sortColumn]="'name'" [sortDirection]="'asc'">
  </app-table>
</ng-container>

<ng-template #noDataTemplate>
  <app-not-found-register [template]="'tipo de evento'" [ctaLabel]="'Adicionar Novo Tipo de Evento'"
    [addRegisterFn]="addNewEventTypes"></app-not-found-register>
</ng-template>
