:host {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0.5rem 0;
}

.grid {
  display: grid;
  gap: 1.3rem;
  width: 100%;
  grid-template-columns: repeat(var(--columns, 12), minmax(0, 1fr));

  @for $i from 1 through 12 {
    &.grid-cols-#{$i} {
      --columns: #{$i};
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: minmax(0, 1fr);
    --columns: 1;
  }
}
