<ng-container
  *ngIf="
    (memberOrigins && memberOrigins.length > 0) || rendering;
    else noDataTemplate
  "
>
  <app-crud
    [fields]="memberOrigins"
    [dataSourceMat]="dataSourceMat"
    [columnDefinitions]="columnDefinitions"
    [addFn]="addNewMemberOrigin"
    [editFn]="editMemberOrigin"
    [deleteFn]="deleteMemberOrigin"
    [toggleFn]="toggleStatus"
    [enableToggleStatus]="true"
    [tooltipTextButtonToggleFn]="'Ativa/Desativa a origem do membro'"
  ></app-crud>
</ng-container>

<ng-template #noDataTemplate>
  <app-not-found-register
    [template]="'origem do membro'"
    [ctaLabel]="'Adicionar nova origem'"
    [addRegisterFn]="addNewMemberOrigin"
  ></app-not-found-register>
</ng-template>
