<form [formGroup]="financialCategoriesForm" (ngSubmit)="handleSubmit()" class="form-field-group">
  <app-tabs>
    <ng-template appTab label="Identificação">
      <app-column [columns]="1">
        <mat-slide-toggle formControlName="status" color="primary">{{
          financialCategoriesForm.get('status')?.value ? 'Ativado' : 'Desativado'
        }}</mat-slide-toggle>
      </app-column>

      <app-column [columns]="1">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input type="text" matInput formControlName="name" required />
          @if (financialCategoriesForm.get('name')?.invalid) {
            <mat-error>{{ getErrorMessage('name') }}</mat-error>
          }
        </mat-form-field>
      </app-column>
    </ng-template>

    <ng-template appTab label="Informações complementares">
      <app-column [columns]="1">
        <span class="text-sm">Descreva a categoria de lançamento de forma mais detalhada</span>
        <mat-form-field>
          <mat-label>Descrição</mat-label>
          <textarea rows="4" matInput formControlName="description"></textarea>
          @if (financialCategoriesForm.get('description')?.invalid) {
            <mat-error>{{ getErrorMessage('description') }}</mat-error>
          }
        </mat-form-field>
      </app-column>
    </ng-template>
  </app-tabs>
</form>
