<form [formGroup]="memberForm" (ngSubmit)="handleSubmit()" class="form-field-group">
  <mat-tab-group preserveContent dynamicHeight [(selectedIndex)]="currentStep">
    <mat-tab label="Dados pessoais" [disabled]="currentStep !== 0">
      <mat-divider></mat-divider>
      <section class="py-4">
        <mat-card appearance="outlined" class="wrapper">
          <mat-card-header>
            <mat-card-title class="pb-6">Dados pessoais</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div formGroupName="stepOne">
              <div class="inputs">
                <mat-form-field appearance="fill">
                  <mat-label>Pessoa</mat-label>
                  <mat-select formControlName="person_id" (openedChange)="onSelectOpenedChangePerson($event)">
                    <mat-select-trigger>
                      {{ getPersonName() }}
                    </mat-select-trigger>
                    <ng-container *ngIf="filteredPerson$ | async as persons">
                      <mat-form-field appearance="fill" class="search-field">
                        <mat-label>Pesquisar</mat-label>
                        <input matInput placeholder="Digite para buscar" [formControl]="searchControl" />
                      </mat-form-field>
                      <mat-option *ngFor="let person of persons" [value]="person.id">
                        {{ person.name }}
                      </mat-option>
                    </ng-container>
                    <mat-option class="add-option" (click)="openAddPersonDialog()">
                      Adicionar nova pessoa
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="memberForm.get('stepOne.person_id')?.invalid && memberForm.get('stepOne.person_id')?.touched">
                    {{ getErrorMessage('stepOne.person_id') }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Igreja</mat-label>
                  <mat-select formControlName="church_id" (openedChange)="onSelectOpenedChangeChurch($event)">
                    <mat-select-trigger>
                      {{ getChurchName() }}
                    </mat-select-trigger>
                    <ng-container *ngIf="filteredChurch$ | async as churches">
                      <mat-form-field appearance="fill" class="search-field">
                        <mat-label>Pesquisar</mat-label>
                        <input matInput placeholder="Digite para buscar" [formControl]="searchControl" />
                      </mat-form-field>
                      <mat-option *ngFor="let church of churches" [value]="church.id">
                        {{ church.name }}
                      </mat-option>
                    </ng-container>
                    <mat-option class="add-option" (click)="openAddChurchDialog()">
                      Adicionar nova igreja
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="memberForm.get('stepOne.church_id')?.invalid && memberForm.get('stepOne.church_id')?.touched">
                    {{ getErrorMessage('stepOne.church_id') }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="inputs">
                <mat-form-field appearance="fill">
                  <mat-label>RG</mat-label>
                  <input matInput formControlName="rg" />
                  <mat-error *ngIf="memberForm.get('stepOne.rg')?.invalid && memberForm.get('stepOne.rg')?.touched">
                    {{ getErrorMessage('stepOne.rg') }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Orgão Expedidor</mat-label>
                  <input matInput formControlName="issuing_body" />
                  <mat-error
                    *ngIf="memberForm.get('stepOne.issuing_body')?.invalid && memberForm.get('stepOne.issuing_body')?.touched">
                    {{ getErrorMessage('stepOne.issuing_body') }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="inputs">
                <mat-form-field appearance="fill">
                  <mat-label>Estado Civil</mat-label>
                  <mat-select formControlName="civil_status">
                    <mat-option *ngFor="let option of civilStatusOptions" [value]="option.value">
                      {{ option.viewValue }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="memberForm.get('stepOne.civil_status')?.invalid && memberForm.get('stepOne.civil_status')?.touched">
                    {{ getErrorMessage('stepOne.civil_status') }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Cor/Raça</mat-label>
                  <mat-select formControlName="color_race">
                    <mat-option *ngFor="let option of colorRaceOptions" [value]="option.value">
                      {{ option.viewValue }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="memberForm.get('stepOne.color_race')?.invalid && memberForm.get('stepOne.color_race')?.touched">
                    {{ getErrorMessage('stepOne.color_race') }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="inputs">
                <mat-form-field appearance="fill">
                  <mat-label>Nacionalidade</mat-label>
                  <input matInput formControlName="nationality" />
                  <mat-error
                    *ngIf="memberForm.get('stepOne.nationality')?.invalid && memberForm.get('stepOne.nationality')?.touched">
                    {{ getErrorMessage('stepOne.nationality') }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Naturalidade</mat-label>
                  <input matInput formControlName="naturalness" />
                  <mat-error
                    *ngIf="memberForm.get('stepOne.naturalness')?.invalid && memberForm.get('stepOne.naturalness')?.touched">
                    {{ getErrorMessage('stepOne.naturalness') }}
                  </mat-error>
                </mat-form-field>
              </div>
              <span *ngIf="isEditMode && memberForm.get('stepOne.updated_at')?.value" class="info">
                Atualizado em {{ memberForm.get('stepOne.updated_at')?.value }}
              </span>
            </div>
          </mat-card-content>
        </mat-card>
      </section>
    </mat-tab>

    <mat-tab label="Dados complementares" [disabled]="currentStep !== 1">
      <mat-divider></mat-divider>
      <section class="py-4">
        <mat-card appearance="outlined" class="wrapper">
          <mat-card-header>
            <mat-card-title class="pb-6">Dados complementares</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div formGroupName="stepTwo">
              <div class="inputs">
                <mat-form-field appearance="fill">
                  <mat-label>Formação</mat-label>
                  <mat-select formControlName="formation">
                    <mat-option *ngFor="let option of formationOptions" [value]="option.value">
                      {{ option.viewValue }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="memberForm.get('stepTwo.formation')?.invalid && memberForm.get('stepTwo.formation')?.touched">
                    {{ getErrorMessage('stepTwo.formation') }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Curso de Formação</mat-label>
                  <input matInput formControlName="formation_course" />
                  <mat-error
                    *ngIf="memberForm.get('stepTwo.formation_course')?.invalid && memberForm.get('stepTwo.formation_course')?.touched">
                    {{ getErrorMessage('stepTwo.formation_course') }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="inputs">
                <mat-form-field appearance="fill">
                  <mat-label>Profissão</mat-label>
                  <input matInput formControlName="profission" />
                  <mat-error
                    *ngIf="memberForm.get('stepTwo.profission')?.invalid && memberForm.get('stepTwo.profission')?.touched">
                    {{ getErrorMessage('stepTwo.profission') }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="inputs checkbox-column" style="max-width: 30rem;">
                <mat-label>Deficiências</mat-label>
                <div class="checkbox-group">
                  <div class="checkbox-column">
                    <mat-checkbox color="primary" formControlName="def_hearing">Auditiva</mat-checkbox>
                    <mat-checkbox color="primary" formControlName="def_visual">Visual</mat-checkbox>
                    <mat-checkbox color="primary" formControlName="def_physical">Física</mat-checkbox>
                    <mat-checkbox color="primary" formControlName="def_other">Outra</mat-checkbox>
                  </div>
                  <div class="checkbox-column">
                    <mat-checkbox color="primary" formControlName="def_mental">Mental</mat-checkbox>
                    <mat-checkbox color="primary" formControlName="def_intellectual">Intelectual</mat-checkbox>
                    <mat-checkbox color="primary" formControlName="def_multiple">Múltipla</mat-checkbox>
                  </div>
                </div>
                <mat-form-field appearance="fill" *ngIf="memberForm.get('stepTwo.def_other')?.value">
                  <mat-label>Descrição da Outra Deficiência</mat-label>
                  <textarea matInput rows="4" formControlName="def_other_description" matTextareaAutosize></textarea>
                  <mat-error
                    *ngIf="memberForm.get('stepTwo.def_other_description')?.invalid && memberForm.get('stepTwo.def_other_description')?.touched">
                    {{ getErrorMessage('stepTwo.def_other_description') }}
                  </mat-error>
                </mat-form-field>
              </div>
              <span *ngIf="isEditMode && memberForm.get('stepTwo.updated_at')?.value" class="info">
                Atualizado em {{ memberForm.get('stepTwo.updated_at')?.value }}
              </span>
            </div>
          </mat-card-content>
        </mat-card>
      </section>
    </mat-tab>

    <mat-tab label="Dados espirituais" [disabled]="currentStep !== 2">
      <mat-divider></mat-divider>
      <section class="py-4">
        <mat-card appearance="outlined" class="wrapper">
          <mat-card-header>
            <mat-card-title class="pb-6">Dados espirituais</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div formGroupName="stepThree">
              <div class="inputs">
                <mat-form-field appearance="fill">
                  <mat-label>Data do batismo</mat-label>
                  <input matInput [matDatepicker]="baptismDate" formControlName="baptism_date">
                  <mat-datepicker-toggle *ngIf="!memberForm.get('baptism_date')?.value" matSuffix
                    [for]="baptismDate"></mat-datepicker-toggle>
                  <mat-datepicker #baptismDate></mat-datepicker>
                  <button *ngIf="memberForm.get('baptism_date')?.value" mat-icon-button matSuffix
                    (click)="clearDate('baptism_date')">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="memberForm.get('stepThree.baptism_date')?.invalid && memberForm.get('stepThree.baptism_date')?.touched">
                    {{ getErrorMessage('stepThree.baptism_date') }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Local do batismo</mat-label>
                  <input matInput formControlName="baptism_locale" />
                  <mat-error
                    *ngIf="memberForm.get('stepThree.baptism_locale')?.invalid && memberForm.get('stepThree.baptism_locale')?.touched">{{ getErrorMessage('stepThree.baptism_locale') }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Oficial do batismo</mat-label>
                  <input matInput formControlName="baptism_official" />
                  <mat-error
                    *ngIf="memberForm.get('stepThree.baptism_official')?.invalid && memberForm.get('stepThree.baptism_official')?.touched">{{ getErrorMessage('stepThree.baptism_official') }}</mat-error>
                </mat-form-field>
              </div>
              <div class="chekcbox-spacing-holy">
                <mat-checkbox color="primary" formControlName="baptism_holy_spirit"
                  (change)="onCheckboxChange('baptism_holy_spirit_date', 'baptism_holy_spirit')">Batizado pelo Espírito
                  Santo?</mat-checkbox>
                <mat-form-field class="input-date" appearance="fill" *ngIf="memberForm.value.baptism_holy_spirit">
                  <mat-label>Data do batismo do Espírito Santo</mat-label>
                  <input matInput [matDatepicker]="baptismHolySpiritDate" formControlName="baptism_holy_spirit_date">
                  <mat-datepicker-toggle matSuffix *ngIf="!memberForm.get('baptism_holy_spirit_date')?.value"
                    [for]="baptismHolySpiritDate"></mat-datepicker-toggle>
                  <mat-datepicker #baptismHolySpiritDate></mat-datepicker>
                  <button *ngIf="memberForm.get('baptism_holy_spirit_date')?.value" mat-icon-button matSuffix
                    (click)="clearDate('baptism_holy_spirit_date')">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="memberForm.get('stepThree.baptism_holy_spirit_date')?.invalid && memberForm.get('stepThree.baptism_holy_spirit_date')?.touched">
                    {{ getErrorMessage('stepThree.baptism_holy_spirit_date') }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="inputs">
                <mat-form-field appearance="fill">
                  <mat-label>Data da recepção</mat-label>
                  <input matInput [matDatepicker]="receiptDate" formControlName="receipt_date">
                  <mat-datepicker-toggle matSuffix *ngIf="!memberForm.get('receipt_date')?.value"
                    [for]="receiptDate"></mat-datepicker-toggle>
                  <mat-datepicker #receiptDate></mat-datepicker>
                  <button *ngIf="memberForm.get('receipt_date')?.value" mat-icon-button matSuffix
                    (click)="clearDate('receipt_date')">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="memberForm.get('stepThree.receipt_date')?.invalid && memberForm.get('stepThree.receipt_date')?.touched">
                    {{ getErrorMessage('stepThree.receipt_date') }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Origem do membro</mat-label>
                  <mat-select formControlName="member_origin_id"
                    (openedChange)="onSelectOpenedChangeMemberOrigin($event)">
                    <mat-select-trigger>
                      {{getMemberOriginName()}}
                    </mat-select-trigger>
                    <mat-form-field appearance="fill" (click)="$event.stopPropagation()">
                      <mat-label>Pesquisar</mat-label>
                      <input matInput placeholder="Digite para buscar" [formControl]="searchControl"
                        (click)="$event.stopPropagation()" />
                    </mat-form-field>
                    <mat-option *ngFor="let memberOrigin of filterMemberOrigins | async" [value]="memberOrigin.id">
                      {{ memberOrigin.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="memberForm.get('stepThree.member_origin_id')?.invalid && memberForm.get('stepThree.member_origin_id')?.touched">{{ getErrorMessage('stepThree.member_origin_id') }}</mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </section>
    </mat-tab>

    <ng-container *ngIf="isEditMode">
      <mat-tab label="Dados de filiação">
        <mat-divider></mat-divider>
        <p>Dados de filiação</p>
      </mat-tab>
      <mat-tab label="Dados de ordenação">
        <mat-divider></mat-divider>
        <p>Dados de ordenação</p>
      </mat-tab>
      <mat-tab label="Status do membro">
        <mat-divider></mat-divider>
        <p>Status do membro</p>
      </mat-tab>
    </ng-container>
  </mat-tab-group>

  <mat-divider></mat-divider>

  <div class="cta">
    <button mat-stroked-button color="warn" type="button"
      (click)="onBack()">{{currentStep === 0 ? 'Cancelar' : 'Voltar'}}</button>
    <button mat-raised-button (click)="onNext()" type="submit" color="primary" [disabled]="!canProceedToNextStep()"
      *ngIf="currentStep < 2">
      Próximo
    </button>
    <button mat-raised-button color="primary" type="submit" *ngIf="currentStep === 2" [disabled]="!memberForm.valid">
      Cadastrar
    </button>
  </div>
</form>
