@if (churches && churches.length > 0) {
  <div>
    <div class="title-container">
      <span class="title">Selecione uma Igreja</span>
    </div>
    <mat-list>
      @for (church of churches; track $index) {
        <mat-list-item>
          <div class="item-container">
            <div class="item">
              <span class="church-name" mat-line>{{ church?.name }}</span>
            </div>
            <button mat-flat-button color="primary" (click)="selectChurch(church)">Acessar</button>
          </div>
        </mat-list-item>
        @if ($index != churches.length - 1) {
          <mat-divider></mat-divider>
        }
      }
    </mat-list>
  </div>
} @else {
  <div class="church-not-found-container">
    <span class="church-not-found-title">Nenhuma igreja encontrada</span>
  </div>
}
