@if (enableAddButtonAdd && canAddOrEdit) {
  <div class="add-button">
    <button type="button" mat-flat-button color="primary" (click)="add.emit()">
      {{ ctaLabel || 'Adicionar' }}
    </button>
  </div>
}
<div class="filter-container">
  <div class="filter-container-content">
    <div class="search-container">
      <div class="search">
        <mat-form-field appearance="fill">
          <div class="search-icon-input">
            <mat-icon>search</mat-icon>
            <input (input)="applyFilter($event)" matInput placeholder="Digite para pesquisar" />
          </div>
        </mat-form-field>
      </div>
      @if (enableFilterAdvanced) {
        <button
          (click)="toggleFilter()"
          [class.selected]="buttonSelected()"
          aria-label="Filtros"
          class="filter-button"
          mat-icon-button
          matTooltip="Filtro"
          type="button"
        >
          <mat-icon>filter_alt</mat-icon>
        </button>
      }
      @if (showFindDataButton && findData.observers.length > 0) {
        <div class="findDataButton">
          <button mat-stroked-button color="primary" (click)="findData.emit()">
            {{ findDataLabel }}
          </button>
        </div>
      }
    </div>
    @if (enablePagination) {
      <mat-paginator
        [length]="length"
        [pageSizeOptions]="pageSizeOptions"
        [pageSize]="pageSize"
        class="paginator"
        color="primary"
        showFirstLastButtons
      ></mat-paginator>
    }
  </div>
  @if (enableFilterAdvanced && !!showFilter()) {
    <app-filter-button-advanced
      [fields]="filterFields"
      [applyFilter]="applyFilter"
      (filterChange)="applyAdvancedFilter($event)"
    ></app-filter-button-advanced>
  }
</div>

<div class="mat-table-responsive">
  <table [dataSource]="dataSourceMat" mat-table matSort>
    <ng-container *ngFor="let column of columnDefinitions" [matColumnDef]="column.key">
      <th mat-header-cell mat-sort-header *matHeaderCellDef class="mat-header-bold">
        {{ column.header }}
      </th>
      <td *matCellDef="let fields" [title]="(fields | formatValues: column.key : column.type) ?? '--'" mat-cell>
        @switch (column.type) {
          @case ('date') {
            {{ (fields | formatValues: column.key : column.type) ?? '--' }}
          }
          @case ('string') {
            {{ (fields | formatValues: column.key : column.type) ?? '--' }}
          }
          @case ('cpf') {
            {{ (fields | formatValues: column.key : column.type) ?? '--' }}
          }
          @case ('cnpj') {
            {{ (fields | formatValues: column.key : column.type) ?? '--' }}
          }
          @case ('datetime') {
            {{ (fields | formatValues: column.key : column.type) ?? '--' }}
          }
          @case ('phone') {
            {{ (fields | formatValues: column.key : column.type) ?? '--' }}
          }
          @case ('sex') {
            {{ (fields | formatValues: column.key : column.type) ?? '--' }}
          }
          @case ('number') {
            {{ (fields | formatValues: column.key : column.type) ?? '--' }}
          }
          @case ('color') {
            <div class="color-display">
              <div class="color-box" [ngStyle]="{ 'background-color': fields[column.key] }"></div>
            </div>
          }
          @case ('boolean') {
            <span [class]="fields[column.key] ? 'active' : 'inactive'">
              {{ fields[column.key] ? 'Ativado' : 'Desativado' }}
            </span>
          }
          @case ('YesNo') {
            <span
              [ngClass]="{
                'status-warning': fields[column.key] === 'Pendente',
                'status-blue': fields[column.key] === 'Em análise',
                'status-success': fields[column.key] === 'Verificado',
              }"
            >
              {{ fields[column.key] }}
            </span>
          }
          @case ('situation') {
            <span
              [class]="{
                'status-warning': fields[column.key] === 'Pendente',
                'status-blue': fields[column.key] === 'Em análise',
                'status-success': fields[column.key] === 'Verificado',
              }"
            >
              {{ fields[column.key] }}
            </span>
          }
          @case ('currency') {
            {{ (fields | formatValues: column.key : column.type) ?? '--' }}
          }
          @case ('select') {
            {{ (fields | formatValues: column.key : column.type) ?? '--' }}
          }
          @case ('email') {
            {{ (fields | formatValues: column.key : column.type) ?? '--' }}
          }
          @default {
            {{ (fields | formatValues: column.key : column.type) ?? '--' }}
          }
        }
      </td>
    </ng-container>
    @if (canShowActions) {
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let fields" class="actions-cell" mat-cell>
          <div class="actions-container">
            @if (actions | hasNonToggleActions) {
              <button type="button" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Ações">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                @for (action of actions; track $index) {
                  @if (
                    action.visible === undefined ||
                    (typeof action.visible === 'function' ? action.visible(fields) : action.visible)
                  ) {
                    @if (action.type === 'toggle') {
                      <div class="toggle">
                        <button
                          mat-flat-button
                          [matTooltip]="tooltipLabel"
                          [color]="fields.status ? 'warn' : 'primary'"
                          (click)="action.action(fields)"
                          type="button"
                        >
                          @if (action.icon) {
                            <mat-icon>{{ action.icon }}</mat-icon>
                          }
                          <span>
                            {{ fields.status ? 'Desativar' : 'Ativar' }}
                          </span>
                        </button>
                      </div>
                    }
                    @if (action.type !== 'toggle') {
                      <button
                        mat-menu-item
                        [matTooltip]="action.tooltip || ''"
                        (click)="action.action(fields)"
                        type="button"
                      >
                        @if (action.icon) {
                          <mat-icon [color]="action.color || 'primary'">
                            {{ action.icon }}
                          </mat-icon>
                        }
                        @if (action.label) {
                          <span [class]="action.type === 'delete' ? 'delete' : ''">
                            {{ action.label }}
                          </span>
                        }
                      </button>
                    }
                  }
                }
              </mat-menu>
            }
          </div>
        </td>
      </ng-container>
    }
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr
      *matRowDef="let row; columns: displayedColumns"
      class="rows"
      mat-row
      [class.clickable]="enableRowClickDialog"
      (click)="enableRowClickDialog ? openRowDialog(row) : null"
    ></tr>
  </table>
</div>
