.add-button {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;

  & > button {
    min-width: 20rem;
  }

  @media screen and (max-width: 768px) {
    & > button {
      min-width: 100%;
      width: 100%;
    }
  }
}

.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 100%;
  width: 100%;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.filter-container-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.search {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin-right: 1rem;
  width: 20rem;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.search-advanced {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-right: 1rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
}

.search-icon-input {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.findDataButton {
  width: 20rem;

  & > button {
    width: 100%;
  }
}

.mat-table-responsive {
  display: block;
  overflow: auto;
  width: 100%;
}

.mat-table-responsive table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;

  @media screen and (max-width: 768px) {
    table-layout: auto;
  }
}

.mat-header-cell,
.mat-cell,
td,
th {
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  // border-right: 1px solid rgba(0, 0, 0, 0.12); // Adiciona a borda direita

  // &:last-child {
  //   border-right: none; // Remove a borda direita da última coluna
  // }

  @media screen and (max-width: 1280px) {
    font-size: 0.7rem;
    padding: 0.5rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.7rem;
    padding: 0.5rem;
  }
}

.rows:hover {
  background-color: var(--hover-color);
}

.mat-header-cell {
  background-color: var(--hover-color);
  font-weight: bold;
  position: relative;
}

.resizer {
  position: absolute;
  top: 0;
  right: -2px;
  width: 0.3rem;
  cursor: col-resize;
  height: 100%;
  z-index: 10;
  background-color: transparent;
  transition: background-color 0.2s;
}

.resizer:hover,
.resizer.resizing {
  background-color: rgba(0, 0, 0, 0.6);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background: white; /* ou sua variável de cor de fundo principal */
  color: var(--text-color);
  padding: 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-table-responsive table .mat-header-row.cdk-drop-list-dragging .mat-header-cell:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-header-row,
.mat-row {
  display: table-row;
  max-width: 100%;
  position: relative;
}

.actions-cell {
  overflow: hidden;
  position: relative;
  width: 5rem;
}

.rows:hover .actions-cell {
  width: 5rem;
}

.rows.clickable {
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.actions-container {
  display: none;
  gap: 1rem;
  justify-content: flex-end;
  transition: opacity 0.3s ease-in-out;

  @media screen and (max-width: 1280px) {
    display: block;
  }
}

.rows:hover .actions-container {
  display: flex;
}

.actions-container > button > mat-icon {
  align-items: center;
  display: flex;
  font-size: 1.18rem;
  justify-content: center;
}

.paginator {
  padding: 1rem 0;
}

.toggle {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.active {
  color: var(--success-color);
}

.inactive {
  color: grey;
}

.delete {
  color: var(--error-color);
}

.mat-mdc-row {
  color: var(--text-color) !important;
}

.filter-button {
  transition: box-shadow 0.3s ease;
}

.filter-button.selected {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1) inset;
}

button.active {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1) inset;
}

.status-warning {
  color: var(--warning-color);
  font-weight: 500;
}

.status-blue {
  color: var(--primary-color);
  font-weight: 500;
}

.status-success {
  color: var(--success-color);
  font-weight: 500;
}

.no {
  color: var(--no-color);
  font-weight: 500;
}

.yes {
  color: var(--success-color);
  font-weight: 500;
}

.color-display {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.color-box {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  border: 0.1rem solid var(--neutral-40);
  flex-shrink: 0;
}
