@if (churches.length > 0) {
  <div class="flex flex-row justify-center items-center my-8">
    <span mat-dialog-title class="text-2xl md:text-lg font-semibold">
      Selecione uma Igreja
    </span>
  </div>
  <mat-dialog-content>
    <mat-list>
      @for (church of churches; track $index) {
        <mat-list-item>
          <div class="flex flex-row justify-between items-center">
            <div class="flex flex-col">
              <span class="text-lg md:text-sm font-semibold" mat-line>{{
                church?.name
              }}</span>
            </div>
            <button
              mat-stroked-button
              color="primary"
              (click)="selectChurch(church)"
            >
              Acessar
            </button>
          </div>
        </mat-list-item>
        @if (churches.length - 1) {
          <mat-divider></mat-divider>
        }
      }
    </mat-list>
  </mat-dialog-content>
} @else {
  <div class="flex flex-row justify-center items-center my-40">
    <span class="text-2xl font-semibold">Nenhuma igreja encontrada</span>
  </div>
}
