<form [formGroup]="guestForm" (ngSubmit)="handleSubmit()" class="form-field-group">
  <app-tabs>
    <ng-template appTab label="Identificação">
      <app-column>
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" maxlength="255" />
          @if (guestForm.get('name')?.invalid && guestForm.get('name')?.touched) {
            <mat-error>{{ getErrorMessage('name') }}</mat-error>
          }
        </mat-form-field>
      </app-column>

      <app-column [columns]="2">
        <mat-form-field appearance="fill">
          <mat-label>Celular</mat-label>
          <input
            matInput
            formControlName="phone_one"
            mask="(00) 00000-0000"
            [showMaskTyped]="true"
          />
          @if (guestForm.get('phone_one')?.invalid && guestForm.get('phone_one')?.touched) {
            <mat-error>{{ getErrorMessage('phone_one') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Telefone II</mat-label>
          <input
            matInput
            formControlName="phone_two"
            mask="(00) 00000-0000"
            [showMaskTyped]="true"
          />
          @if (guestForm.get('phone_two')?.invalid && guestForm.get('phone_two')?.touched) {
            <mat-error>{{ getErrorMessage('phone_two') }}</mat-error>
          }
        </mat-form-field>
      </app-column>
    </ng-template>

    <ng-template appTab label="Endereço">
      <app-column [columns]="2">
        <mat-form-field class="cep-field" appearance="fill">
          <mat-label>CEP</mat-label>
          <input matInput formControlName="cep" mask="00000-000" [showMaskTyped]="true" />
          @if (guestForm.get('cep')?.invalid && guestForm.get('cep')?.touched) {
            <mat-error>{{ getErrorMessage('cep') }}</mat-error>
          }
        </mat-form-field>
      </app-column>

      <app-column [columns]="2">
        <mat-form-field appearance="fill">
          <mat-label>Rua</mat-label>
          <input matInput formControlName="street" maxlength="255" />
          @if (guestForm.get('street')?.invalid && guestForm.get('street')?.touched) {
            <mat-error>{{ getErrorMessage('street') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Número</mat-label>
          <input matInput formControlName="number" maxlength="10" />
          @if (guestForm.get('number')?.invalid && guestForm.get('number')?.touched) {
            <mat-error>{{ getErrorMessage('number') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Complemento</mat-label>
          <input matInput formControlName="complement" maxlength="255" />
          @if (guestForm.get('complement')?.invalid && guestForm.get('complement')?.touched) {
            <mat-error>{{ getErrorMessage('complement') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Bairro</mat-label>
          <input matInput formControlName="district" maxlength="255" />
          @if (guestForm.get('district')?.invalid && guestForm.get('district')?.touched) {
            <mat-error>{{ getErrorMessage('district') }}</mat-error>
          }
        </mat-form-field>
      </app-column>

      <app-column [columns]="2">
        <mat-form-field appearance="fill">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="city" maxlength="255" />
          @if (guestForm.get('city')?.invalid && guestForm.get('city')?.touched) {
            <mat-error>{{ getErrorMessage('city') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Estado</mat-label>
          <input matInput formControlName="state" maxlength="255" />
          @if (guestForm.get('state')?.invalid && guestForm.get('state')?.touched) {
            <mat-error>{{ getErrorMessage('state') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>País</mat-label>
          <input matInput formControlName="country" maxlength="255" />
          @if (guestForm.get('country')?.invalid && guestForm.get('country')?.touched) {
            <mat-error>{{ getErrorMessage('country') }}</mat-error>
          }
        </mat-form-field>
      </app-column>
    </ng-template>
  </app-tabs>
</form>
