.title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.event-details {
  p {
    font-size: 0.9rem;
    margin: 0;
    line-height: 1.5;
  }

  strong {
    color: var(--text-color);
  }
}
