<mat-card class="wrapper">
  <div class="flex justify-between items-center m-2">
    <mat-card-header>
      <mat-card-title>{{pageTitle}}</mat-card-title>
    </mat-card-header>
    <button mat-icon-button color="warn" (click)="handleBack()">
      <mat-icon color="warn">close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>

  <mat-card-content>
    <form [formGroup]="profileForm" (ngSubmit)="handleSubmit()" class="form-field-group">
      <div class="inputs">
        <mat-slide-toggle formControlName="status" color="primary">Ativo</mat-slide-toggle>
      </div>
      <div class="inputs">
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" maxlength="255" required>
          <mat-error *ngIf="profileForm.get('name')?.hasError('required')">Campo obrigatório.</mat-error>
          <mat-error *ngIf="profileForm.get('name')?.hasError('maxlength')">Máximo de 255 caracteres.</mat-error>
        </mat-form-field>
      </div>
      <div class="inputs">
        <mat-form-field appearance="fill">
          <mat-label>Descrição</mat-label>
          <textarea matInput rows="5" formControlName="description" maxlength="255"></textarea>
          <mat-error *ngIf="profileForm.get('description')?.hasError('maxlength')">Máximo de 255
            caracteres.</mat-error>
        </mat-form-field>
      </div>
      @if (this.isEditMode && profileForm.get('updated_at')?.value) {
      <span class="info">Atualizado em {{ profileForm.get('updated_at')?.value }}</span>
      }
      <mat-divider></mat-divider>
      <div class="cta">
        <button type="button" mat-stroked-button color="primary" (click)="handleBack()">Cancelar</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="!profileForm.valid">
          {{this.isEditMode ? 'Atualizar' : 'Cadastrar'}}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
