<form
  [formGroup]="profileForm"
  (ngSubmit)="handleSubmit()"
  class="form-field-group"
>
  <app-column>
    <mat-slide-toggle formControlName="status" color="primary">{{
      profileForm.get('status')?.value ? 'Ativado' : 'Desativado'
    }}</mat-slide-toggle>
  </app-column>

  <app-column>
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" maxlength="255" required />
      <mat-error
        *ngIf="
          profileForm.get('name')?.invalid && profileForm.get('name')?.touched
        "
        >{{ getErrorMessage('name') }}</mat-error
      >
    </mat-form-field>
  </app-column>

  <app-column>
    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea
        matInput
        rows="5"
        formControlName="description"
        maxlength="255"
      ></textarea>
      <mat-error
        *ngIf="
          profileForm.get('description')?.invalid &&
          profileForm.get('description')?.touched
        "
        >{{ getErrorMessage('description') }}</mat-error
      >
    </mat-form-field>
  </app-column>

  <table mat-table [dataSource]="permissions">
    <ng-container matColumnDef="module">
      <th mat-header-cell *matHeaderCellDef>Módulo</th>
      <td mat-cell *matCellDef="let permission">{{ permission.module }}</td>
    </ng-container>

    <ng-container matColumnDef="can_read">
      <th mat-header-cell *matHeaderCellDef>Leitura</th>
      <td mat-cell *matCellDef="let permission">
        <mat-checkbox
          [(ngModel)]="permission.can_read"
          (change)="
            updatePermission(
              permission.profile_id,
              permission.id,
              'can_read',
              $event.checked
            )
          "
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="can_write">
      <th mat-header-cell *matHeaderCellDef>Escrita</th>
      <td mat-cell *matCellDef="let permission">
        <mat-checkbox
          [(ngModel)]="permission.can_write"
          (change)="
            updatePermission(
              permission.profile_id,
              permission.id,
              'can_write',
              $event.checked
            )
          "
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="can_delete">
      <th mat-header-cell *matHeaderCellDef>Deleção</th>
      <td mat-cell *matCellDef="let permission">
        <mat-checkbox
          [(ngModel)]="permission.can_delete"
          (change)="
            updatePermission(
              permission.profile_id,
              permission.id,
              'can_delete',
              $event.checked
            )
          "
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-divider></mat-divider>

  <app-actions>
    <button
      type="button"
      mat-stroked-button
      color="warn"
      (click)="handleBack()"
    >
      Cancelar
    </button>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="profileForm.invalid"
    >
      {{ isEditMode ? 'Atualizar' : 'Cadastrar' }}
    </button>
  </app-actions>
</form>
