<mat-card>
  <mat-card-header class="mb-1">
    <mat-card-title>
      {{ pageTitle }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-member-form></app-member-form>
    <!-- <mat-tab-group preserveContent [(selectedIndex)]="activeTabIndex" dynamicHeight> -->
    <!-- <mat-tab-group preserveContent dynamicHeight>
      <mat-tab label="Dados pessoais" [disabled]="isTabDisabled(0)">
        <mat-divider></mat-divider>
        <app-personal-data-form [formGroup]="personalDataFormGroup"></app-personal-data-form>
      </mat-tab>
      <mat-tab label="Dados complementares" [disabled]="isTabDisabled(1)">
        <mat-divider></mat-divider>
        <app-additional-data-form [formGroup]="additionalDataFormGroup"></app-additional-data-form>
      </mat-tab>
      <mat-tab label="Dados espirituais" [disabled]="isTabDisabled(2)">
        <mat-divider></mat-divider>
        <app-spiritual-data-form [formGroup]="spiritualDataFormGroup"></app-spiritual-data-form>
      </mat-tab>

      <ng-container *ngIf="isEditMode">
        <mat-tab label="Dados de filiação" [disabled]="isTabDisabled(3)">
          <mat-divider></mat-divider>
          <app-membership-data-form></app-membership-data-form>
        </mat-tab>
        <mat-tab label="Dados de ordenação" [disabled]="isTabDisabled(4)">
          <mat-divider></mat-divider>
          <app-ordination-data-form></app-ordination-data-form>
        </mat-tab>
        <mat-tab label="Status do membro" [disabled]="isTabDisabled(5)">
          <mat-divider></mat-divider>
          <app-member-status-data-form></app-member-status-data-form>
        </mat-tab>
      </ng-container>
    </mat-tab-group> -->
  </mat-card-content>
</mat-card>
