<mat-tab-group (selectedTabChange)="onTabChange($event.index)" preserveContent>
  @for (tab of tabs; track $index) {
    <mat-tab>
      <ng-template mat-tab-label>
        <span [style.background-color]="tab.color" class="tab-label">{{ tab.name }}</span>
      </ng-template>
      @if (loading()) {
        <div class="loading">Carregando eventos...</div>
      } @else if (dataSources()[tabs[selectedTabIndex()].id].length > 0) {
        <app-crud
          [fields]="dataSources()[tabs[selectedTabIndex()].id]"
          [columnDefinitions]="crudConfig.columnDefinitions"
          [actions]="crudConfig.actions"
          (add)="addFn.emit()"
          (editFn)="crudConfig.editFn($event)"
          (deleteFn)="crudConfig.deleteFn($event)"
          (toggleFn)="crudConfig.toggleFn!($event)"
          [enableToggleStatus]="crudConfig.enableToggleStatus"
          [readPermission]="crudConfig.readPermission"
          [writePermission]="crudConfig.writePermission"
          [deletePermission]="crudConfig.deletePermission"
        ></app-crud>
      } @else {
        <div class="not-found-container">
          <mat-icon class="not-found-icon">inbox</mat-icon>
          <span class="not-found-text">Nenhuma informação encontrada</span>
          @if (enableAddButtonAdd()) {
            <div class="margin-not-found">
              <button mat-flat-button color="primary" type="button" (click)="add.emit()">
                {{ ctaLabel() || 'Adicionar' }}
              </button>
            </div>
          }
        </div>
      }
    </mat-tab>
  } @empty {
    <div class="not-found-container">
      <mat-icon class="not-found-icon">inbox</mat-icon>
      <span class="not-found-text">Nenhuma informação encontrada</span>
      @if (enableAddButtonAdd()) {
        <div class="margin-not-found">
          <button mat-flat-button color="primary" type="button" (click)="add.emit()">
            {{ ctaLabel() || 'Adicionar' }}
          </button>
        </div>
      }
    </div>
  }
</mat-tab-group>
