<mat-tab-group (selectedTabChange)="onTabChange($event.index)" preserveContent>
  @for (tab of tabs; track $index) {
    <mat-tab>
      <ng-template mat-tab-label>
        <span [style.background-color]="tab.color" class="tab-label">{{ tab.name }}</span>
      </ng-template>
      @if (loading()) {
        <div class="loading">Carregando eventos...</div>
      } @else if (dataSources()[tabs[selectedTabIndex()].id].length > 0) {
        <app-crud
          [fields]="dataSources()[tabs[selectedTabIndex()].id]"
          [columnDefinitions]="crudConfig.columnDefinitions"
          [actions]="crudConfig.actions"
          (add)="addFn.emit()"
          (editFn)="crudConfig.editFn($event)"
          (deleteFn)="crudConfig.deleteFn($event)"
          (toggleFn)="crudConfig.toggleFn!($event)"
          [enableToggleStatus]="crudConfig.enableToggleStatus"
        ></app-crud>
      } @else {
        <app-not-found-register (add)="addFn.emit()"></app-not-found-register>
      }
    </mat-tab>
  } @empty {
    <app-not-found-register (add)="addFn.emit()"></app-not-found-register>
  }
</mat-tab-group>
