<form
  [formGroup]="eventForm"
  (ngSubmit)="handleSubmit()"
  class="form-field-group"
>
  <!-- Campos de igreja e tipo de evento -->
  <app-column [columns]="2">
    <mat-form-field appearance="fill">
      <mat-label>Igreja</mat-label>
      <input
        type="text"
        placeholder="Selecione uma igreja"
        matInput
        required
        [matAutocomplete]="autoChurch"
        [formControl]="searchChurchControl"
        (focus)="showAllChurchs()"
        (click)="showAllChurchs()"
        [readonly]="true"
      />
      <mat-autocomplete
        #autoChurch="matAutocomplete"
        (optionSelected)="onSelectedChurch($event)"
      >
        @for (church of filterChurch | async; track $index) {
          <mat-option [value]="church">
            {{ church.name }}
          </mat-option>
        } @empty {
          <mat-option disabled>Nenhuma igreja encontrada.</mat-option>
        }
      </mat-autocomplete>
      @if (
        eventForm.get('church_id')?.invalid &&
        eventForm.get('church_id')?.touched
      ) {
        <mat-error>{{ getErrorMessage('church_id') }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tipo do evento</mat-label>
      <input
        type="text"
        placeholder="Selecione o tipo do evento"
        matInput
        required
        [matAutocomplete]="autoEventType"
        [formControl]="searchEventTypeControl"
        (focus)="showAllEventTypes()"
      />
      <mat-autocomplete
        #autoEventType="matAutocomplete"
        (optionSelected)="onSelectedEventType($event)"
      >
        @for (eventTypes of filterEventTypes | async; track $index) {
          <mat-option [value]="eventTypes">
            {{ eventTypes.name }}
          </mat-option>
        } @empty {
          <mat-option disabled>Nenhum tipo de evento encontrado.</mat-option>
        }
      </mat-autocomplete>
      @if (
        eventForm.get('event_type_id')?.invalid &&
        (eventForm.get('event_type_id')?.touched ||
          eventForm.get('event_type_id')?.dirty)
      ) {
        <mat-error>{{ getErrorMessage('event_type_id') }}</mat-error>
      }
    </mat-form-field>
  </app-column>

  <!-- Campos de nome e tema -->
  <app-column [columns]="2">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" maxlength="255" required />
      <mat-error
        *ngIf="eventForm.get('name')?.invalid && eventForm.get('name')?.touched"
        >{{ getErrorMessage('name') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tema</mat-label>
      <input matInput formControlName="theme" maxlength="255" />
      <mat-error
        *ngIf="
          eventForm.get('theme')?.invalid && eventForm.get('theme')?.touched
        "
        >{{ getErrorMessage('theme') }}
      </mat-error>
    </mat-form-field>
  </app-column>

  <!-- Campos de data e hora -->
  <app-column [columns]="2">
    <app-column [columns]="2">
      <!-- Data inicial -->
      <mat-form-field>
        <mat-label>Data inicial</mat-label>
        <input
          matInput
          type="text"
          name="start_date"
          [matDatepicker]="start_date"
          placeholder="dd/mm/aaaa"
          formControlName="start_date"
          [min]="minDate"
          required
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="start_date"
        ></mat-datepicker-toggle>
        <mat-datepicker #start_date>
          <mat-datepicker-actions>
            @if (eventForm.get('start_date')?.value) {
              <button
                matTooltip="Limpar a data"
                mat-flat-button
                matSuffix
                matDatepickerToggleIcon
                (click)="clearDate('start_date')"
                type="button"
                color="warn"
              >
                <mat-icon>close</mat-icon>
                Limpar
              </button>
            } @else {
              <button type="button" mat-stroked-button matDatepickerCancel>
                Cancelar
              </button>
              <button type="button" mat-flat-button matDatepickerApply>
                Concluir
              </button>
            }
          </mat-datepicker-actions>
        </mat-datepicker>

        @if (
          eventForm.get('start_date')?.invalid &&
          eventForm.get('start_date')?.touched
        ) {
          <mat-error>{{ getErrorMessage('start_date') }} </mat-error>
        }
      </mat-form-field>

      <!-- Hora inicial -->
      <mat-form-field appearance="fill">
        <mat-label>Hora inicial</mat-label>
        <input
          matInput
          type="time"
          formControlName="start_time"
          required
          placeholder="hh:mm"
        />
        @if (
          eventForm.get('start_time')?.invalid &&
          (eventForm.get('start_time')?.touched ||
            eventForm.get('start_time')?.dirty)
        ) {
          <mat-error>{{ getErrorMessage('start_time') }}</mat-error>
        }
      </mat-form-field>
    </app-column>

    <app-column [columns]="2">
      <!-- Data final -->
      <mat-form-field>
        <mat-label>Data final</mat-label>
        <input
          matInput
          name="end_date"
          placeholder="dd/mm/aaaa"
          formControlName="end_date"
          [matDatepicker]="end_date"
          [min]="minDate"
          required
          readonly
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="end_date"
        ></mat-datepicker-toggle>
        <mat-datepicker #end_date>
          <mat-datepicker-actions>
            @if (eventForm.get('end_date')?.value) {
              <button
                matTooltip="Limpar a data"
                mat-flat-button
                matSuffix
                matDatepickerToggleIcon
                (click)="clearDate('end_date')"
                type="button"
                color="warn"
              >
                <mat-icon>close</mat-icon>
                Limpar
              </button>
            } @else {
              <button type="button" mat-stroked-button matDatepickerCancel>
                Cancelar
              </button>
              <button type="button" mat-flat-button matDatepickerApply>
                Concluir
              </button>
            }
          </mat-datepicker-actions>
        </mat-datepicker>

        @if (
          eventForm.get('end_date')?.invalid &&
          eventForm.get('end_date')?.touched
        ) {
          <mat-error>{{ getErrorMessage('end_date') }} </mat-error>
        }
      </mat-form-field>

      <!-- Hora final -->
      <mat-form-field appearance="fill">
        <mat-label>Hora final</mat-label>
        <input
          matInput
          type="time"
          formControlName="end_time"
          required
          placeholder="hh:mm"
        />
        @if (
          eventForm.get('end_time')?.invalid &&
          (eventForm.get('end_time')?.touched ||
            eventForm.get('end_time')?.dirty)
        ) {
          <mat-error>{{ getErrorMessage('end_time') }}</mat-error>
        }
      </mat-form-field>
    </app-column>
  </app-column>

  <!-- Local -->
  <app-column [columns]="1">
    <mat-form-field appearance="fill">
      <mat-label>Local</mat-label>
      <input matInput formControlName="location" maxlength="255" />
      <mat-error
        *ngIf="
          eventForm.get('location')?.invalid &&
          eventForm.get('location')?.touched
        "
        >{{ getErrorMessage('location') }}</mat-error
      >
    </mat-form-field>
  </app-column>

  <!-- Observação -->
  <app-column>
    <mat-form-field appearance="fill">
      <mat-label>Observação</mat-label>
      <textarea
        matInput
        rows="3"
        formControlName="obs"
        maxlength="255"
      ></textarea>
      @if (eventForm.get('obs')?.invalid && eventForm.get('obs')?.touched) {
        <mat-error>{{ getErrorMessage('obs') }}</mat-error>
      }
    </mat-form-field>
  </app-column>

  <app-actions>
    <button
      mat-stroked-button
      type="button"
      color="warn"
      (click)="handleCancel()"
    >
      Cancelar
    </button>
    <button
      mat-flat-button
      type="submit"
      color="primary"
      [disabled]="eventForm.invalid"
    >
      {{ isEditMode ? 'Atualizar' : 'Cadastrar' }}
    </button>
  </app-actions>
</form>
