@use 'app/styles/theme' as theme;
@use '@angular/material' as mat;
@use 'app/styles/autocomplete-theme' as autocomplete;
@use 'sass:map';

@include mat.core();

:root {
  @include mat.core-theme(theme.$light-theme);
  @include mat.core-color(theme.$light-theme);
  @include mat.button-theme(theme.$light-theme);
  @include mat.all-component-themes(theme.$light-theme);
  @include mat.system-level-colors(theme.$light-theme);
  @include mat.system-level-typography(theme.$light-theme);
  @include mat.all-component-typographies(theme.$light-theme);
  @include mat.color-variants-backwards-compatibility(theme.$light-theme);
  @include autocomplete.autocomplete-theme();

  & {
    --primary-color: #{mat.get-theme-color(theme.$light-theme, primary, 50)};
    --primary-color-dark: #{mat.get-theme-color(theme.$light-theme, primary, 40)};
    --secondary-color: #{mat.get-theme-color(theme.$light-theme, secondary)};
    --tertiary-color: #{mat.get-theme-color(theme.$light-theme, tertiary)};
    --neutral-40: #{mat.get-theme-color(theme.$light-theme, neutral, 40)};
    --grey-very-light: #{theme.$greyVeryLight};
    --grey-light: #{theme.$greyLight};
    --grey-main: #{theme.$greyMain};
    --grey-dark: #{theme.$greyDark};
    --text-color: #{theme.$textColor};
    --error-color: #{theme.$error};
    --danger-color: #{theme.$danger};
    --success-color: #{theme.$success};
    --warning-color: #{theme.$warning};
    --hover-color: #{theme.$hover};
    --separator-color: #{theme.$separator};
    --white-color: #{theme.$white};
    --background-color: #{theme.$backgroundColor};
  }
}

*:not(mat-icon) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Geist', 'Roboto', 'Poppins', sans-serif !important;
}

::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

html,
body,
app-root {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  overflow: hidden;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.title {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

.text-default {
  color: var(--text-color);
  font-size: 1rem;
}

.white {
  color: var(--white-color);
}

.success {
  color: var(--success-color);
}

.danger {
  color: var(--danger-color);
}

.warning {
  color: var(--warning-color);
}

.spacer {
  flex: 1 1 auto;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.cep-field {
  max-width: 10dvw;

  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}

.custom-snackbar {
  .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    border-radius: 0.8rem !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: var(--white-color) !important;
  }
}

.snackbar-success {
  .mdc-snackbar__surface {
    background-color: var(--success-color) !important;
  }

  .mdc-snackbar__label {
    color: var(--white-color) !important;
  }
}

.snackbar-error {
  .mdc-snackbar__surface {
    background-color: var(--danger-color) !important;
  }

  .mdc-snackbar__label {
    color: var(--white-color) !important;
  }
}

.snackbar-warning {
  .mdc-snackbar__surface {
    background-color: var(--warning-color) !important;
  }

  .mdc-snackbar__label {
    color: var(--white-color) !important;
  }
}

.mat-mdc-tab-body-content {
  overflow: hidden !important;
}

.form-field-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  padding: 1rem;
}

mat-form-field {
  width: 100%;
}

.py-4 {
  padding: 1rem 0;
}

.reduction {
  max-width: 50% !important;

  @media screen and (max-width: 768px) {
    max-width: 100% !important;
  }
}

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem;

  @media screen and (max-width: 768px) {
    .dialog {
      max-width: 100dvw;
    }
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color-dark);
}

::-webkit-scrollbar-track {
  background: var(--hover-color);
  border-radius: 0.5rem;
}

/* Charts */
.item-value,
.item-label,
.item-percent {
  margin-bottom: 0.5rem !important;
}

.item-value {
  margin-top: 0 !important;
}

.total-value {
  margin-bottom: 1rem !important;
}

@media screen and (max-width: 768px) {
  .mat-mdc-paginator-container {
    display: flex !important;
    justify-content: center !important;
  }

  .mat-mdc-paginator-range-actions {
    display: flex;
    align-items: center;
    flex-direction: row !important;
  }

  .mat-mdc-paginator-range-label {
    margin: 0 1rem 0 0 !important;
  }
}

.full-calendar-container {
  height: 100%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.3rem;

  @media screen and (max-width: 768px) {
    height: auto;
  }

  .fc {
    height: 100%;
    width: 100%;

    & .fc-toolbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 768px) {
        flex-direction: column !important;
        gap: 1rem;
      }
    }

    & .fc-h-event {
      background-color: transparent !important;
      border: none !important;
      min-width: 100% !important;
    }

    & .fc-popover-body {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 15rem !important;
      min-width: 100% !important;
      max-width: 100% !important;
    }

    & .fc-button {
      border: none !important;
      padding: 8px 16px !important;
      border-radius: 4px !important;
      transition: all 0.1s ease-in-out !important;
      background-color: var(--primary-color) !important;
      color: var(--white-color);
      box-shadow:
        0 1px 1px -1px rgba(0, 0, 0, 0.1),
        0 1px 1px 0 rgba(0, 0, 0, 0.1),
        0 1px 5px 0 rgba(0, 0, 0, 0.1);
      text-transform: uppercase;

      .fc-icon {
        vertical-align: middle;
      }

      &:hover {
        @include mat.elevation(2);
        box-shadow:
          0 2px 4px -1px rgba(0, 0, 0, 0.2),
          0 4px 5px 0 rgba(0, 0, 0, 0.14),
          0px 1px 10px 0px rgba(0, 0, 0, 0.12);
      }

      &:active {
        @include mat.elevation(2);
        border: 0 !important;
        box-shadow: none !important;
      }

      &:focus {
        border: 0 !important;
        box-shadow: none !important;
      }

      /* Botão primário (today) */
      &.fc-button-primary {
        background-color: var(--primary-color) !important;
        color: var(--white-color) !important;
        border: 0 !important;

        &:hover {
          @include mat.elevation(2);
          background-color: var(--primary-color) !important;
          color: var(--white-color) !important;
        }

        &:active {
          background-color: var(--primary-color) !important;
          color: var(--white-color) !important;
          border: 0 !important;
        }
      }

      /* Botões ativos (view selecionada) */
      &.fc-button-active {
        background-color: var(--primary-color) !important;
        color: var(--white-color) !important;
        border: 0 !important;
      }
    }

    /* Ajuste de layout para a barra de ferramentas */
    &.fc-header-toolbar {
      gap: 8px;
      margin-bottom: 16px !important;

      &.fc-toolbar-chunk {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: var(--primary-color) !important;
}

.mat-mdc-tab:not(.mdc-tab--active:focus) .mdc-tab__text-label {
  color: var(--neutral-40);
}

.mat-mdc-dialog-surface,
.mat-expansion-panel,
.mat-mdc-card-outlined,
.mat-mdc-button,
.mat-mdc-outlined-button,
.mat-mdc-unelevated-button,
.mat-mdc-raised-button,
.mat-mdc-fab,
.mat-mdc-mini-fab {
  border-radius: 0.2rem !important;
}

.mat-mdc-outlined-button {
  border-color: var(--grey-very-light) !important;
}

.mat-divider {
  border-top-color: var(--grey-very-light) !important;
}

.mat-mdc-nav-list .mat-mdc-list-item,
mat-sidenav {
  border-bottom-left-radius: 0 !important;
  border-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.mat-mdc-table,
.mat-mdc-paginator {
  background-color: inherit !important;
}

.event-tooltip {
  color: #fff;
  border-radius: 0.5rem;
  font-size: 1rem;
  white-space: pre-wrap;
  width: auto;
  max-width: 50dvw;
  line-height: 2rem;
}
