<mat-tab-group>
  <mat-tab label="Identificação">
    <form [formGroup]="personForm" (ngSubmit)="handleNext()" class="form-field-group">
      <app-column [columns]="2">
        <mat-form-field appearance="fill">
          <mat-label>Usuário</mat-label>
          <input
            type="text"
            matInput
            [matAutocomplete]="auto"
            [formControl]="searchUserControl"
            placeholder="Selecione um usuário"
            (focus)="showAllUsers()"
            required
          />
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onUserSelected($event)">
            @for (user of filterUsers | async; track user.id) {
              <mat-option [value]="user">
                {{ user.name }}
              </mat-option>
            }
          </mat-autocomplete>
          @if (personForm.get('user_id')?.invalid) {
            <mat-error>{{ getErrorMessage('user_id') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input type="text" matInput formControlName="name" />
          @if (personForm.get('name')?.invalid) {
            <mat-error>{{ getErrorMessage('name') }}</mat-error>
          }
        </mat-form-field>
      </app-column>

      <app-column [columns]="2">
        <mat-form-field appearance="fill">
          <mat-label>CPF</mat-label>
          <input type="text" matInput formControlName="cpf" mask="000.000.000-00" [showMaskTyped]="true" />
          @if (personForm.get('cpf')?.invalid) {
            <mat-error>{{ getErrorMessage('cpf') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input type="email" matInput formControlName="email" />
          @if (personForm.get('email')?.invalid) {
            <mat-error>{{ getErrorMessage('email') }}</mat-error>
          }
        </mat-form-field>
      </app-column>

      <app-column [columns]="2">
        <mat-form-field>
          <mat-label>Data de nascimento</mat-label>
          <input
            type="text"
            matInput
            name="birth_date"
            [matDatepicker]="picker"
            placeholder="dd/mm/aaaa"
            formControlName="birth_date"
            (click)="openCalendar()"
            [min]="minDate"
            [max]="maxDate"
            readonly
          />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker>
            <mat-datepicker-actions>
              @if (personForm.get('birth_date')?.value) {
                <button
                  matTooltip="Limpar a data"
                  mat-flat-button
                  matSuffix
                  matDatepickerToggleIcon
                  (click)="clearDate()"
                  type="button"
                  color="warn"
                >
                  <mat-icon>close</mat-icon>
                  Limpar
                </button>
              } @else {
                <button type="button" mat-button matDatepickerCancel>Cancelar</button>
                <button type="button" mat-flat-button matDatepickerApply>Concluir</button>
              }
            </mat-datepicker-actions>
          </mat-datepicker>
          @if (personForm.get('birth_date')?.invalid) {
            <mat-error>{{ getErrorMessage('birth_date') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Sexo</mat-label>
          <mat-select formControlName="sex">
            @for (sex of sexs; track sex.value) {
              <mat-option [value]="sex.value">
                {{ sex.label }}
              </mat-option>
            }
          </mat-select>
          @if (personForm.get('sex')?.invalid) {
            <mat-error>{{ getErrorMessage('sex') }}</mat-error>
          }
        </mat-form-field>
      </app-column>

      <app-column [columns]="2">
        <mat-form-field appearance="fill">
          <mat-label>Celular</mat-label>
          <input type="text" matInput formControlName="phone_one" mask="(00) 00000-0000" [showMaskTyped]="true" />
          @if (personForm.get('phone_one')?.invalid) {
            <mat-error>{{ getErrorMessage('phone_one') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Telefone II</mat-label>
          <input type="text" matInput formControlName="phone_two" mask="(00) 00000-0000" [showMaskTyped]="true" />
          @if (personForm.get('phone_two')?.invalid) {
            <mat-error>{{ getErrorMessage('phone_two') }}</mat-error>
          }
        </mat-form-field>
      </app-column>

      <app-actions>
        <button mat-stroked-button type="button" color="warn" (click)="handleCancel()">Cancelar</button>
        <button mat-flat-button type="submit" color="primary">Avançar</button>
      </app-actions>
    </form>
  </mat-tab>

  <mat-tab label="Endereço">
    <form [formGroup]="personForm" (ngSubmit)="handleSubmit()" class="form-field-group">
      <app-column [columns]="2">
        <mat-form-field appearance="fill" class="cep-field">
          <mat-label>CEP</mat-label>
          <input type="text" matInput formControlName="cep" mask="00000-000" [showMaskTyped]="true" />
          @if (personForm.get('cep')?.invalid) {
            <mat-error>{{ getErrorMessage('cep') }}</mat-error>
          }
        </mat-form-field>
      </app-column>

      <app-column [columns]="2">
        <mat-form-field appearance="fill">
          <mat-label>Rua</mat-label>
          <input type="text" matInput formControlName="street" />
          @if (personForm.get('street')?.invalid) {
            <mat-error>{{ getErrorMessage('street') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Número</mat-label>
          <input type="text" matInput formControlName="number" />
          @if (personForm.get('number')?.invalid) {
            <mat-error>{{ getErrorMessage('number') }}</mat-error>
          }
        </mat-form-field>
      </app-column>
      <app-column [columns]="4">
        <mat-form-field appearance="fill">
          <mat-label>Complemento</mat-label>
          <input type="text" matInput formControlName="complement" />
          @if (personForm.get('complement')?.invalid) {
            <mat-error>{{ getErrorMessage('complement') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Bairro</mat-label>
          <input type="text" matInput formControlName="district" />
          @if (personForm.get('district')?.invalid) {
            <mat-error>{{ getErrorMessage('district') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Cidade</mat-label>
          <input type="text" matInput formControlName="city" />
          @if (personForm.get('city')?.invalid) {
            <mat-error>{{ getErrorMessage('city') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Estado</mat-label>
          <input type="text" matInput formControlName="state" />
          @if (personForm.get('state')?.invalid) {
            <mat-error>{{ getErrorMessage('state') }}</mat-error>
          }
        </mat-form-field>
      </app-column>
      <app-column [columns]="2">
        <mat-form-field appearance="fill">
          <mat-label>País</mat-label>
          <input type="text" matInput formControlName="country" />
          @if (personForm.get('country')?.invalid) {
            <mat-error>{{ getErrorMessage('country') }}</mat-error>
          }
        </mat-form-field>
      </app-column>

      <app-actions>
        <button mat-stroked-button type="button" color="warn" (click)="handleBack()">Voltar</button>
        <button mat-flat-button type="submit" color="primary" [disabled]="personForm.invalid">
          {{ isEditMode() ? 'Atualizar' : 'Cadastrar' }}
        </button>
      </app-actions>
    </form>
  </mat-tab>
</mat-tab-group>
