<div class="details-event-container">
  <mat-card appearance="outlined">
    <mat-card-header class="card-header">
      <mat-card-title class="title">
        <strong class="black">{{ callToDay()?.event?.name }}</strong>
      </mat-card-title>
    </mat-card-header>
    <mat-divider />
    <mat-card-content>
      @if (callToDay()) {
        <table mat-table [dataSource]="[selectedCallToDay]" class="mat-elevation-z5">
          <ng-container matColumnDef="start_datetime">
            <th mat-header-cell *matHeaderCellDef>Data de inicio</th>
            <td mat-cell *matCellDef="let callToDay" class="bold">
              {{ callToDay.start_date | date: 'dd/MM/yyyy' }} às {{ callToDay?.start_time || 'Carregando...' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="end_datetime">
            <th mat-header-cell *matHeaderCellDef>Data de fim</th>
            <td mat-cell *matCellDef="let callToDay" class="bold">
              {{ callToDay.end_date | date: 'dd/MM/yyyy' }} às {{ callToDay?.end_time || 'Carregando...' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="theme">
            <th mat-header-cell *matHeaderCellDef>Tema</th>
            <td mat-cell *matCellDef="let callToDay" class="bold">
              {{ callToDay.theme || 'Carregando...' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="eventTypeName">
            <th mat-header-cell *matHeaderCellDef>Tipo do evento</th>
            <td mat-cell *matCellDef="let callToDay" class="bold">
              {{ callToDay.event?.event_type?.name || 'Carregando...' }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      } @else {
        <p class="no-details-message">Nenhum detalhe de chamada disponível para este evento.</p>
      }
    </mat-card-content>
  </mat-card>
</div>
