<form [formGroup]="memberForm" class="form-field-group">
  <mat-tab-group preserveContent dynamicHeight [(selectedIndex)]="currentStep">
    <mat-tab label="Identificação" [disabled]="isTabDisabled(0)">
      <app-identification
        [stepOneForm]="getStepFormGroup('stepOne')"
        [persons]="persons"
        [churchs]="churchs"
        [civilStatus]="civilStatus"
        [colorRace]="colorRace"
        [searchControlPerson]="searchControlPerson"
        [searchControlChurch]="searchControlChurch"
        [searchControlCivilStatus]="searchControlCivilStatus"
        [searchControlColorRace]="searchControlColorRace"
      ></app-identification>
    </mat-tab>

    <mat-tab label="Informações complementares" [disabled]="isTabDisabled(1)">
      <app-additional-information
        [stepTwoForm]="getStepFormGroup('stepTwo')"
        [formations]="formations"
        [searchControlFormations]="searchControlFormations"
      ></app-additional-information>
    </mat-tab>

    <mat-tab label="Informações espirituais" [disabled]="isTabDisabled(2)">
      <app-spiritual-information
        [stepThreeForm]="getStepFormGroup('stepThree')"
        [memberOrigins]="memberOrigins"
        [searchControlMemberOrigins]="searchControlMemberOrigins"
      ></app-spiritual-information>
    </mat-tab>
  </mat-tab-group>
</form>
