<mat-toolbar class="navbar">
  <div class="container-section-one-nav">
    <app-logo></app-logo>
    @if(!isMobile) {
    <span class="ps-nav-separator"></span>
    <span class="text-default">Church System</span>
    }
  </div>
  <span class="spacer"></span>
  <ng-container *ngIf="userName || 'Tiago Persch' ">
    <div class="row p-4">
      <button mat-button color="primary" (click)="navigateToChurch()">Igreja</button>
      <button mat-button class="spacing-components" color="primary"
        (click)="navigateToAdministrative()">Administrativo</button>
      <button class="user-button" mat-button [matMenuTriggerFor]="userMenu">
        <span class="button-text text-default">{{ userName || 'Usuário' }}</span>
        <span class="button-icon">
          <mat-icon>arrow_drop_down</mat-icon>
        </span>
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="!userName">
    <div class="p-4">
      <button mat-raised-button color="primary" (click)="navigateToLogin()">Login</button>
    </div>
  </ng-container>

</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="navigateToProfile()">
    <span>Perfil</span>
  </button>
  <button class="logout" mat-menu-item (click)="logout()">
    <span>Sair</span>
  </button>
</mat-menu>
