<ng-container *ngIf="(churchs && churchs.length > 0) || rendeing; else noData">
  <app-crud
    [fields]="churchs"
    [dataSourceMat]="dataSourceMat"
    [columnDefinitions]="columnDefinitions"
    [addFn]="handleCreate"
    [editFn]="handleEdit"
    [deleteFn]="handleDelete"
    [actions]="actions"
  ></app-crud>
</ng-container>

<ng-template #noData>
  <app-not-found-register
    [template]="'igreja'"
    [ctaLabel]="'Adicionar Nova Igreja'"
    [addRegisterFn]="handleCreate"
  ></app-not-found-register>
</ng-template>
