<ng-container
  *ngIf="
    (eventTypes && eventTypes.length > 0) || rendering;
    else noDataTemplate
  "
>
  <app-crud
    [fields]="eventTypes"
    [dataSourceMat]="dataSourceMat"
    [columnDefinitions]="columnDefinitions"
    [addFn]="addNewEventTypes"
    [editFn]="editEventTypes"
    [deleteFn]="deleteEventTypes"
    [toggleFn]="toggleStatus"
    [enableToggleStatus]="true"
    [tooltipTextButtonToggleFn]="'Ativa/Desativa o tipo de evento'"
  ></app-crud>
</ng-container>

<ng-template #noDataTemplate>
  <app-not-found-register
    [template]="'tipo de evento'"
    [ctaLabel]="'Adicionar'"
    [addRegisterFn]="addNewEventTypes"
  ></app-not-found-register>
</ng-template>
