<mat-card *ngIf="ordination && ordination.length > 0; else noDataTemplate">
  <div class="align-btn-search">
    <div>
      <button mat-raised-button type="button" color="primary" (click)="addNewOrdination()">
        Adicionar
      </button>
    </div>
    <div>
      <mat-form-field appearance="fill" class="search">
        <input matInput (input)="applyFilter($event)" placeholder="Digite para pesquisar" />
      </mat-form-field>
    </div>
  </div>

  <div class="mat-table-responsive">
    <table mat-table matSort [dataSource]="dataSourceMat" class="mat-elevation-z1">
      <ng-container *ngFor="let column of columnDefinitions" [matColumnDef]="column.key">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</th>
        <td mat-cell *matCellDef="let ordination">
          <ng-container *ngIf="column.type === 'date'">
            {{ dateFormatPipe.transform(getNestedValue(ordination, column.key)) }}
          </ng-container>
          <ng-container *ngIf="column.type === 'string'">
            {{ getNestedValue(ordination, column.key) }}
          </ng-container>
          <ng-container *ngIf="column.type === 'boolean'">
            <mat-checkbox color="primary" [matTooltip]="getNestedValue(ordination, column.key)"
              [checked]="getNestedValue(ordination, column.key)" disabled></mat-checkbox>
          </ng-container>
        </td>
      </ng-container>


      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let ordination" class="actions-cell">
          <div class="actions-container">
            <button mat-icon-button type="button" color="primary" matTooltip="Editar"
              (click)="editOrdination(ordination)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button type="button" color="warn" matTooltip="Excluir"
              (click)="deleteOrdination(ordination)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="rows" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</mat-card>

<ng-template #noDataTemplate>
  <app-not-found-register [template]="'ordenação'" [ctaLabel]="'Adicionar'"
    [addRegisterFn]="addNewOrdination"></app-not-found-register>
</ng-template>
