<mat-tab-group>
  <mat-tab label="Identificação">
    <form [formGroup]="churchForm" (ngSubmit)="handleNext()" class="form-field-group">
      <app-column [columns]="2">
        <mat-form-field appearance="fill">
          <mat-label>Pastor/Dirigente responsável</mat-label>
          <input
            type="text"
            matInput
            [matAutocomplete]="auto"
            [formControl]="searchResponsibleControl"
            placeholder="Selecione um Responsável"
            (focus)="showAllResponsibles()"
            required
          />
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onResponsibleSelected($event)">
            @for (responsible of filterResponsable | async; track $index) {
              <mat-option [value]="responsible">
                {{ responsible.name }}
              </mat-option>
            }
          </mat-autocomplete>
          @if (churchForm.get('responsible_id')?.invalid) {
            <mat-error>{{ getErrorMessage('responsible_id') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" />
          @if (churchForm.get('name')?.invalid) {
            <mat-error>{{ getErrorMessage('name') }}</mat-error>
          }
        </mat-form-field>
      </app-column>

      <app-column [columns]="2">
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" />
          @if (churchForm.get('email')?.invalid) {
            <mat-error>{{ getErrorMessage('email') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>CNPJ</mat-label>
          <input matInput formControlName="cnpj" mask="00.000.000/0000-00" [showMaskTyped]="true" />
          @if (churchForm.get('cnpj')?.invalid) {
            <mat-error>{{ getErrorMessage('cnpj') }}</mat-error>
          }
        </mat-form-field>
      </app-column>

      <app-actions>
        <button mat-stroked-button type="button" color="warn" (click)="handleCancel()">Cancelar</button>
        <button mat-flat-button type="submit" color="primary">Avançar</button>
      </app-actions>
    </form>
  </mat-tab>

  <mat-tab label="Endereço">
    <form [formGroup]="churchForm" (ngSubmit)="handleSubmit()" class="form-field-group">
      <app-column [columns]="3">
        <mat-form-field appearance="fill">
          <mat-label>CEP</mat-label>
          <input matInput formControlName="cep" mask="00000-000" [showMaskTyped]="true" />
          @if (churchForm.get('cep')?.invalid) {
            <mat-error>{{ getErrorMessage('cep') }}</mat-error>
          }
        </mat-form-field>
      </app-column>

      <app-column [columns]="2">
        <mat-form-field appearance="fill">
          <mat-label>Rua</mat-label>
          <input matInput formControlName="street" />
          @if (churchForm.get('street')?.invalid) {
            <mat-error>{{ getErrorMessage('street') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Número</mat-label>
          <input matInput formControlName="number" maxlength="10" />
          @if (churchForm.get('number')?.invalid) {
            <mat-error>{{ getErrorMessage('number') }}</mat-error>
          }
        </mat-form-field>
      </app-column>

      <app-column [columns]="4" [columnWidths]="[3, 3, 3, 3]">
        <mat-form-field appearance="fill">
          <mat-label>Complemento</mat-label>
          <input matInput formControlName="complement" />
          @if (churchForm.get('complement')?.invalid) {
            <mat-error>{{ getErrorMessage('complement') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Bairro</mat-label>
          <input matInput formControlName="district" />
          @if (churchForm.get('district')?.invalid) {
            <mat-error>{{ getErrorMessage('district') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="city" />
          @if (churchForm.get('city')?.invalid) {
            <mat-error>{{ getErrorMessage('city') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Estado</mat-label>
          <input matInput formControlName="state" />
          @if (churchForm.get('state')?.invalid) {
            <mat-error>{{ getErrorMessage('state') }}</mat-error>
          }
        </mat-form-field>
      </app-column>

      <app-column [columns]="2">
        <mat-form-field appearance="fill">
          <mat-label>Pais</mat-label>
          <input matInput formControlName="country" />
          @if (churchForm.get('country')?.invalid) {
            <mat-error>{{ getErrorMessage('country') }}</mat-error>
          }
        </mat-form-field>
      </app-column>

      <app-actions>
        <button mat-stroked-button type="button" color="warn" (click)="handleBack()">Voltar</button>
        <button mat-flat-button type="submit" color="primary" [disabled]="churchForm.invalid">
          {{ isEditMode ? 'Atualizar' : 'Cadastrar' }}
        </button>
      </app-actions>
    </form>
  </mat-tab>
</mat-tab-group>
