<form [formGroup]="familyForm" (ngSubmit)="handleSubmit()" class="wrapper">
  <app-column>
    <mat-checkbox formControlName="is_member" (change)="onCheckboxChange($event.checked)" color="primary">
      A filiação é membro?
    </mat-checkbox>
  </app-column>

  <app-column>
    <mat-form-field appearance="fill">
      <mat-label>Membro</mat-label>
      <mat-select formControlName="member_id">
        <mat-select-trigger>
          {{ displayNameMember() }}
        </mat-select-trigger>
        <ng-container *ngIf="filterMembers$ | async as members">
          <mat-form-field appearance="outline" class="search-field">
            <div class="flex flex-row gap-2">
              <mat-icon>search</mat-icon>
              <input matInput placeholder="Digite para buscar" [formControl]="searchControlMembers" />
            </div>
          </mat-form-field>
          <mat-option *ngFor="let member of members" [value]="member.id">
            {{ member.person.name }}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error *ngIf="familyForm.get('member_id')?.invalid && familyForm.get('member_id')?.touched">
        {{ getErrorMessage('member_id') }}
      </mat-error>
    </mat-form-field>
  </app-column>

  <app-column *ngIf="handleIsMemberChange()">
    <mat-form-field appearance="fill">
      <mat-label>Filiação</mat-label>
      <mat-select formControlName="person_id">
        <mat-select-trigger>
          {{ displayNamePerson() }}
        </mat-select-trigger>
        <ng-container *ngIf="filterPersons$ | async as persons">
          <mat-form-field appearance="outline" class="search-field">
            <div class="flex flex-row gap-2">
              <mat-icon>search</mat-icon>
              <input matInput placeholder="Digite para buscar" [formControl]="searchControlPersons" />
            </div>
          </mat-form-field>
          <mat-option *ngFor="let person of persons" [value]="person.id">
            {{ person.name }}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error *ngIf="familyForm.get('person_id')?.invalid && familyForm.get('person_id')?.touched">
        {{ getErrorMessage('person_id') }}
      </mat-error>
    </mat-form-field>
  </app-column>

  <app-column *ngIf="!handleIsMemberChange()">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" required />
      <mat-error
        *ngIf="familyForm.get('name')?.invalid && familyForm.get('name')?.touched">{{ getErrorMessage('name') }}</mat-error>
    </mat-form-field>
  </app-column>

  <app-column>
    <mat-form-field appearance="fill">
      <mat-label>Parentesco</mat-label>
      <mat-select formControlName="kinship_id">
        <mat-select-trigger>
          {{ displayNameKinship() }}
        </mat-select-trigger>
        <ng-container *ngIf="filterKinships$ | async as kinships">
          <mat-form-field appearance="outline" class="search-field">
            <div class="flex flex-row gap-2">
              <mat-icon>search</mat-icon>
              <input matInput placeholder="Digite para buscar" [formControl]="searchControlKinship" />
            </div>
          </mat-form-field>
          <mat-option *ngFor="let kinship of kinships" [value]="kinship.id">
            {{ kinship.name }}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error *ngIf="familyForm.get('kinship_id')?.invalid && familyForm.get('kinship_id')?.touched">
        {{ getErrorMessage('kinship_id') }}
      </mat-error>
    </mat-form-field>
  </app-column>

  <mat-divider></mat-divider>
  <div class="cta">
    <button mat-stroked-button color="warn" type="button" (click)="handleBack()">
      Cancelar
    </button>
    <button mat-raised-button color="primary" type="submit" [disabled]="familyForm.invalid">
      {{ isEditMode ? 'Atualizar' : 'Cadastrar' }}
    </button>
  </div>
</form>
