<div class="wrapper">
  <div class="header">
    <span class="title">{{ data.title }}</span>
  </div>

  <mat-divider></mat-divider>

  <div class="content">
    <p class="message">{{ data.message }}</p>
  </div>

  <app-actions>
    @if (data.reverseBtn) {
      <ng-container button>
        <button mat-flat-button color="primary" [mat-dialog-close]="true">
          {{ data.btnOkText }}
        </button>
      </ng-container>
      <ng-container button>
        <button mat-stroked-button color="warn" [mat-dialog-close]="false">
          {{ data.btnCancelText }}
        </button>
      </ng-container>
    } @else {
      <ng-container button>
        <button mat-stroked-button color="warn" [mat-dialog-close]="false">
          {{ data.btnCancelText }}
        </button>
      </ng-container>
      <ng-container button>
        <button mat-flat-button color="primary" [mat-dialog-close]="true">
          {{ data.btnOkText }}
        </button>
      </ng-container>
    }
  </app-actions>
</div>
