<ng-container *ngIf="members && members.length > 0; else noDataTemplate">
  <app-table [dataSource]="members" [displayedColumns]="displayedColumns" [columnDefinitions]="columnDefinitions"
    [editFn]="editMembers" [deleteFn]="deleteMembers" [ctaFn]="addNewMembers" [ctaLabel]="'Adicionar Novo Membro'"
    [sortColumn]="'rg'" [sortDirection]="'asc'">
  </app-table>
</ng-container>

<ng-template #noDataTemplate>
  <app-not-found-register [template]="'membro'" [ctaLabel]="'Adicionar Novo Membro'"
    [addRegisterFn]="addNewMembers"></app-not-found-register>
</ng-template>
